<div class="dashboard-container overlay-10 padded-content-page layout layout-column ng-scope">


    <!-- TARJETA PARA BUSCAR ORGANIZACIONES-->
    <div layout="row" layout-md="column">

        <md-card flex layout-align="center center">
            <md-card-content>
                <h2 class="text-center" translate>ORGANIZATION.ORGANIZATIONS</h2>
                <h3 class="text-center" translate>ORGANIZATION.DESCRIPTOR.INSTRUCTIONS</h3>
                <md-autocomplete
                        class="margin-bottom-20"
                        ng-disabled="vm.isDisabled"
                        md-no-cache="vm.noCache"
                        md-selected-item="vm.selectedItem"
                        md-search-text-change="vm.searchTextChange(vm.searchText)"
                        md-search-text="vm.searchText"
                        md-selected-item-change="vm.selectedItemChange()"
                        md-items="item in vm.querySearch(vm.searchText)"
                        md-item-text="item.Titulo"
                        md-min-length="0"
                        placeholder="Buscador de Organizaciones">
                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.Titulo}}</span>
                </md-autocomplete>
            </md-card-content>
        </md-card>
    </div>

    <!-- Tarjeta para eliminar descriptores de Organizacion-->
    <div layout="row" layout-sm="column" layout-md="column" ng-show="vm.selectedItem!=null">
        <md-card flex="70" layout="column">
            <md-card-content flex>
                <h2 translate class="text-center">ORGANIZATION.DESCRIPTOR.CURRENT</h2>
                <md-list flex>
                    <md-list-item class="md-5-line" ng-repeat="descriptor in vm.descriptorPersonas">
                        <div layout="row" flex layout-align="space-around center" layout-sm="column">
                            <div flex="60" class="md-list-item-text">
                            <h3>ID: {{descriptor.id}}</h3>
                            <h4>Tipo: {{descriptor.Titulo}}</h4>
                            <h5>Fecha de Inicio: {{descriptor.pivot.FechaInicio}}</h5>
                            <h5>Fecha de Termino: {{descriptor.pivot.FechaTermino}}</h5>
                            <h5>Tipo de Resultado: {{descriptor.pivot.TipoResultado}}</h5>
                            <p>No. Registro: {{descriptor.pivot.NumeroRegistro}}</p>
                                </div>
                        <div flex="25">
                            <md-button ng-click="vm.edit(descriptor)" class="md-raised md-primary"><span translate="">PERSONAS.DESCRIPTOR.EDIT</span></md-button>
                            <md-button ng-click="vm.createDialog($event,descriptor)" ng-class="['md-warn','md-hue-2']" aria-label="warn button" class="md-raised"><span translate="">PERSONAS.DESCRIPTOR.DELETE</span></md-button>
                        </div>
                            </div>
                        <md-divider></md-divider>
                    </md-list-item>

                </md-list>


            </md-card-content>
        </md-card>

        <!-- Tarjeta para agregar descriptores de Organizacion -->

        <md-card flex layout="column" ng-show="vm.selectedItem!=null">
            <md-card-content>
                <h2 translate>ORGANIZATION.DESCRIPTOR.ADD</h2>

                <form name="registrarDescriptor" novalidate>
                    <md-input-container>
                        <label translate>PERSONAS.DESCRIPTOR.TYPE</label>
                        <md-select ng-model="vm.descriptor.idDescriptor" required name="tipo">
                            <md-option ng-repeat="tipo in vm.descriptores" value="{{tipo.id}}">
                                {{tipo.Titulo}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <span class="placeholder" translate>ORGANIZATION.DESCRIPTOR.FINIT</span>
                    <md-datepicker ng-model="vm.descriptor.FechaInicio" name="fInicio" md-placeholder="Introduce una fecha" required></md-datepicker><br></br>
                    <span class="placeholder" translate>ORGANIZATION.DESCRIPTOR.FEND</span>
                    <md-datepicker ng-model="vm.descriptor.FechaTermino" name="fFin" md-placeholder="Introduce una fecha" required>{{myDate | 'mm/dd/YYYY'}}</md-datepicker><br></br>
                    <md-input-container>
                        <label translate>PERSONAS.DESCRIPTOR.TRESULT</label>
                        <input ng-model="vm.descriptor.TipoResultado" required name="resultado">
                    </md-input-container>
                    <md-input-container>
                        <label translate>PERSONAS.DESCRIPTOR.NREGISTRO</label>
                        <input ng-model="vm.descriptor.NumeroRegistro" required name="registro">
                    </md-input-container>
                    <md-button ng-disabled="registrarEtapa.$invalid" ng-click="addItem()" class="md-raised" ng-class="['md-primary','md-hue-2']" aria-label="warn button" ><span translate>PERSONAS.DESCRIPTOR.ADD</span></md-button>
                    <md-button ng-disabled="vm.descriptor==null" ng-click="vm.resetForm()" ng-class="['md-primary','md-hue-2']" aria-label="primary button" class="md-raised"><span translate="">DESCRIPTOR.DESCRIPTOR.CLEAR</span></md-button>
                </form>

            </md-card-content>
        </md-card>


    </div>



</div>