//
   Created by lockonDaniel on 3/6/16.

md-dialog(flex-gt-md='100' aria-label='Información de Organización')
    md-toolbar
        .md-toolbar-tools
            h1.md-display-2 Organización
            span(flex='')
            md-button.md-icon-button(ng-click='vm.cancel()')
                ng-md-icon(icon='close', aria-label='Close dialog')
    md-dialog-content(flex layout='column')
        md-tabs(md-dynamic-height='', md-border-bottom='', md-stretch-tabs='always')
            md-tab(flex label='General')
                md-content.md-padding(flex)
                    div(flex layout='column' layout-sm='column' layout-md='column')
                        h2.md-headline.text-center Organización
                        span.md-title Título :&nbsp;
                        span.subhead {{vm.organizacion.Titulo}}
                        span.md-title Descripción:&nbsp;
                        span.subhead(ng-bind-html='vm.organizacion.Descripcion')
                        span.md-title Misión:&nbsp;
                        span.subhead(ng-bind-html='vm.organizacion.Mision')
                        span.md-title Visión:&nbsp;
                        span.subhead(ng-bind-html='vm.organizacion.Vision')

            md-tab(flex label='Personas')
                md-content.md-padding(flex)
                    div(flex layout='column' layout-align='center-center' ng-show='vm.personas==null')
                        md-progress-circular(md-mode='indeterminate')
                    div(flex layout='column' ng-show='vm.personas!=null')
                        div(flex layout='row' layout-sm='column')
                            div(flex layout='column' layout-align='center center')
                                form(name='selectTipoDescriptores')
                                    md-input-container
                                        label Selecciona el tipo de Clasificador
                                        md-select(ng-model='vm.selectedTipoDescriptor' md-on-close='vm.getDescriptores()')
                                            md-option(ng-repeat='tipoDescriptor in vm.tipoDescriptores' ng-value='tipoDescriptor.id')
                                                | {{tipoDescriptor.Nombre}}
                                    div(flex layout='column' layout-align='center-center' ng-show='vm.loadingDescriptores==true')
                                        md-progress-circular(md-mode='indeterminate')
                                    md-input-container(ng-show='vm.loadingDescriptores==false && vm.descriptores!=null')
                                        label Selecciona el Clasificador
                                        md-select(ng-model='vm.selectedDescriptor' md-on-close='vm.getPersonasByDescriptor()')
                                            md-option(ng-repeat='descriptor in vm.descriptores' ng-value='descriptor.id')
                                                | {{descriptor.Titulo}}

                            div(flex layout='column')
                                canvas#doughnut.chart.chart-doughnut(chart-click='vm.onClick', chart-data='vm.Chart.Data', chart-labels='vm.Chart.Labels', chart-legend='true')

                        div(flex layout='column' layout-align='center-center' ng-show='vm.loadingPersonasDescriptor==true')
                                md-progress-circular(md-mode='indeterminate')
                        md-table-container(flex ng-show='vm.loadingPersonasDescriptor==false')
                            table(flex md-table='')
                                thead(flex md-head='', md-order='vm.query.order')
                                    tr(flex md-row='md-row')
                                        th(md-column='md-column', md-order-by='Nombre')
                                            span Nombre
                                        th(md-column='md-column', md-order-by='ApellidoP')
                                            span Apellido Paterno
                                        th(md-column='md-column', md-order-by='ApellidoM')
                                            span Apellido Materno
                                        th(md-column='md-column', md-order-by='pivot.Puesto')
                                            span Puesto

                                tbody(md-body='md-body' flex)
                                    tr(flex md-row='md-row', ng-repeat='persona in vm.personas | orderBy:vm.query.order | offset: (vm.query.page-1)*vm.query.limit | limitTo: vm.query.limit')
                                        td(md-cell='md-cell') {{persona.Nombre | cut:false:50:"..."}}
                                        td(md-cell='md-cell') {{persona.ApellidoP | cut:false:50:"..."}}
                                        td(md-cell='md-cell') {{persona.ApellidoM | cut:false:50:"..."}}
                                        td(md-cell='md-cell') {{persona.pivot.Puesto | cut:false:50:"..."}}
                        md-table-pagination(flex md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.personas.length}}" md-on-paginate="onPaginate" md-page-select)


        md-dialog-actions(layout='row' layout-align='end center')
            md-button.md-raised.md-primary(ng-click="vm.cancel()")
                | Cerrar
