<div class="dashboard-container overlay-10 padded-content-page layout layout-column ng-scope">
    <div layout="row" layout-md="column">
        <md-card flex>
            <md-card-content>
                <h2 class="text-center" translate>ORGANIZATION.ORGANIZATIONS</h2>
                <h3 class="text-center" translate>ORGANIZATION.INFO.INSTRUCTIONS</h3>
                <md-autocomplete
                        class="margin-bottom-20"
                        ng-disabled="vm.isDisabled"
                        md-no-cache="vm.noCache"
                        md-selected-item="vm.selectedItem"
                        md-search-text-change="vm.searchTextChange(vm.searchText)"
                        md-search-text="vm.searchText"
                        md-selected-item-change="vm.selectedItemChange(item)"
                        md-items="item in vm.querySearch(vm.searchText)"
                        md-item-text="item.nombre"
                        md-min-length="0"
                        placeholder="Buscador de Organizaciones">
                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.nombre}}</span>
                </md-autocomplete>

            </md-card-content>
        </md-card>
    </div>
    <div layout="row" layout-md="column">
        <md-card flex>
            <md-card-content>
                <div layout="column">
                    <h2 class="text-center" ng-show="vm.selectedItem!=null" translate>ORGANIZATION.INFO.MODIFY</h2>
                    <h2 class="text-center" ng-show="vm.selectedItem==null" translate>ORGANIZATION.INFO.REGISTER</h2>
                </div>
                <form name="registerOrganization" layout="column">

                    <!-Primer Row: Nombre, Razón Social y RFC->
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label translate>ORGANIZATION.INFO.NAME</label>
                            <input type="text" required name="nombre" ng-model="vm.newOrganization.nombre">
                            <div ng-messages="registerOrganization.nombre.$error" multiple>
                                <div ng-message="required">
                                    <span translate>ORGANIZATION.REQUIRED-FIELD</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label translate>ORGANIZATION.INFO.FISCAL_NAME</label>
                            <input type="text" required name="razon_social" ng-model="vm.newOrganization.razon_social">
                            <div ng-messages="registerOrganization.razon_social.$error" multiple>
                                <div ng-message="required">
                                    <span translate>ORGANIZATION.REQUIRED-FIELD</span>
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                            <label translate>ORGANIZATION.INFO.RFC</label>
                            <input type="text" required name="rfc" ng-model="vm.newOrganization.RFC">
                            <div ng-messages="registerOrganization.rfc.$error" multiple>
                                <div ng-message="required">
                                    <span translate>ORGANIZATION.REQUIRED-FIELD</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <!-Segundo Row: RENIECYT, Giro y Representante legal->
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label translate>ORGANIZATION.INFO.RENIECYT</label>
                            <input type="text" required name="reniecyt" ng-model="vm.newOrganization.RENIECYT">
                            <div ng-messages="registerOrganization.reniecyt.$error" multiple>
                                <div ng-message="required">
                                    <span translate>ORGANIZATION.REQUIRED-FIELD</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label translate>ORGANIZATION.INFO.COMMERCIAL_ACTIVITY</label>
                            <input type="text" required name="giro" ng-model="vm.newOrganization.giro">
                            <div ng-messages="registerOrganization.giro.$error" multiple>
                                <div ng-message="required">
                                    <span translate>ORGANIZATION.REQUIRED-FIELD</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                            <label translate>ORGANIZATION.INFO.LEGAL_REPRESENTATIVE</label>
                            <input type="text" required name="representante_legal" ng-model="vm.newOrganization.representante_legal">
                            <div ng-messages="registerOrganization.representante_legal.$error" multiple>
                                <div ng-message="required">
                                    <span translate>ORGANIZATION.REQUIRED-FIELD</span>
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <!-Tercer Row: Direccion, Estado y Municipio->
                    <div layout="row" layout-sm="column">
                        <md-input-container flex>
                            <label translate>ORGANIZATION.INFO.FISCAL_ADDRESS</label>
                            <input type="text" required name="direccion" ng-model="vm.newOrganization.direccion">
                            <div ng-messages="registerOrganization.direccion.$error" multiple>
                                <div ng-message="required">
                                    <span translate>ORGANIZATION.REQUIRED-FIELD</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-select flex required placeholder="Estado" ng-model="vm.selectedEstado" md-on-open="vm.loadEstados()">
                            <md-option ng-value="estado" ng-repeat="estado in vm.estados">{{estado.Nombre}}</md-option>
                        </md-select>
                        <md-select flex required placeholder="Municipio" ng-model="vm.newOrganization.idMunicipio" ng-disabled="vm.selectedEstado==null">
                            <md-option ng-value="municipio.id" ng-repeat="municipio in vm.selectedEstado.municipios">{{municipio.Nombre}}</md-option>
                        </md-select>
                    </div>

                    <!-Cuarto Row: Contacto ->

                    <md-chips ng-model="vm.newOrganization.contacto"
                              md-autocomplete-snap
                              md-require-match="true"
                              md-on-append="vm.appendContact($chip)"
                              >
                        <md-autocomplete
                                md-selected-item="vm.selectedContact"
                                md-search-text="vm.contactText"
                                md-items="item in vm.contactSearch(vm.contactText)"
                                md-item-text="item.informacion.nombre"
                                placeholder="Contacto">
                            <span md-highlight-text="vm.contactText">{{item.informacion.nombre}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                     <span>
                         <strong>{{$chip.informacion.nombre}}</strong>
                         <strong>Teléfono: {{$chip.informacion.telefono}}</strong>
                         <strong>e-mail: {{$chip.informacion.email}}</strong>
                     </span>
                        </md-chip-template>
                    </md-chips>



                    <md-chips ng-model="vm.newOrganization.palabras_clave"
                              md-autocomplete-snap
                              md-require-match="true"
                              md-on-append="vm.appendChip($chip)"
                              >
                        <md-autocomplete
                                md-selected-item="vm.selectedKeyword"
                                md-search-text="vm.keywordText"
                                md-items="item in vm.keywordSearch(vm.keywordText)"
                                md-item-text="item.nombre"
                                placeholder="Palabras Clave">
                            <span md-highlight-text="vm.keywordText">{{item.nombre}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                     <span>
                         <strong>{{$chip.nombre}}</strong>
                     </span>
                        </md-chip-template>
                    </md-chips>


                    <md-input-container>
                        <label translate>ORGANIZATION.INFO.DESCRIPTION</label>
                        <textarea ng-model="vm.newOrganization.descripcion" rows="4" md-maxlength="1000"></textarea>
                    </md-input-container>

                    <md-input-container>
                        <label translate>ORGANIZATION.INFO.MISSION</label>
                        <textarea ng-model="vm.newOrganization.mision" rows="4" md-maxlength="1000"></textarea>
                    </md-input-container>

                    <md-input-container>
                        <label translate>ORGANIZATION.INFO.EXPERIENCE</label>
                        <textarea ng-model="vm.newOrganization.experiencia" rows="4" md-maxlength="1000"></textarea>
                    </md-input-container>


                    <!-Div para el file drop->
                    <div layout="row" layout-sm="colum" layout-align="center center" flow-init="{target: '/upload'}"
                         flow-files-submitted="$flow.upload()"
                         flow-file-success="$file.msg = $message"
                         flow-drop>

                        <label class="material" translate>ORGANIZATION.INFO.CONSTITUTIVE_ACT</label>
                        <md-button flow-btn class="md-raised" ng-class="['md-primary','md-hue-2']">Seleciconar Archivo</md-button>

                        <table>
                            <tr ng-repeat="file in $flow.files">
                                <td>{{$index+1}}</td>
                                <td>{{file.name}}</td>
                                <td>{{file.msg}}</td>
                                </tr>
                        </table>
                    </div>

                    <!-Botones para agregar o modificar->

                    <div layout="row" layout-align="center center" layout-sm="column">
                        <md-button ng-show="vm.selectedItem==null" ng-disabled="registerOrganization.$invalid" ng-click="addItem()" class="md-raised" ng-class="['md-primary','md-hue-2']" aria-label="warn button" ><span translate>ORGANIZATION.INFO.NEW_ORGANIZATION</span></md-button>
                        <md-button ng-show="vm.selectedItem!=null" ng-disabled="registerOrganization.$invalid" ng-click="modifyItem()" class="md-raised" ng-class="['md-primary','md-hue-2']" aria-label="warn button" ><span translate>ORGANIZATION.INFO.MODIFY_ORGANIZATION</span></md-button>
                    </div>

                </form>
            </md-card-content>
        </md-card>
    </div>




    </div>