div(class="dashboard-container overlay-10 padded-content-page layout layout-column ng-scope")

  div(layout layout-column).informacion-organizaciones
    div(layout="column" flex  layout-margin)

      //- tarjeta buscar organizaciones
      div(layout ng-if="!vm.waiting")
        div(flex)
        div(ng-if="!vm.isCreating && !vm.isEditing")
          md-button.md-primary.md-raised(ng-click="vm.isCreating = true")
            md-icon(class="material-icons") add
            span Nueva Organización

      //- marcador de espera
      div(layout="column" layout-align="center-center")
        md-progress-circular(md-mode="indeterminate" ng-if="vm.waiting")

      //- lista de organizaciones
      div(ng-hide="vm.isCreating || vm.isEditing")
        div(layout flex layout-wrap ng-if="vm.orgList")
          div(flex-sm="100" flex-md="50" flex-gt-md="33" ng-repeat="org in vm.orgList" )
            .md-whiteframe-z1.md-padding.md-card(layout flex)
              div(flex layout layout-align="center-center")
                h3 {{org.Titulo}}

              div(layout="column" layout-align="space-between-center")
                md-button.md-icon-button.md-primary(ng-click="vm.editOrg(org, $index)")
                  md-icon.material-icons edit
                md-button.md-icon-button.md-primary(ng-click="vm.removeOrg(org.id, $index)")
                  md-icon.material-icons close


      //- formulario organizaciones
      form(ng-show="vm.isCreating || vm.isEditing" layout="column" name="vm.form" layout-margin)

        //- DATOS GENERALES
        .md-whiteframe-z1.md-padding.md-card(flex)
          h4.md-subheader Datos Generales

          div(layout layout-sm="column")
            md-input-container(flex).nombre-organizacion.md-no-float
              label Nombre de la Organización
              input(type="text" ng-model="vm.org.Titulo" required name="Titulo")

          div(layout layout-sm="column")
            md-input-container(flex)
              label Misión
              textarea(ng-model="vm.org.Mision" required rows="3" md-maxlength="200")

            md-input-container(flex)
              label Visión
              textarea(ng-model="vm.org.Vision" required rows="3" md-maxlength="200")

            md-input-container(flex)
              label Descripción
              textarea(ng-model="vm.org.Descripcion" required rows="3" md-maxlength="200")

        //- INFORMACIÓN LEGAL
        .md-whiteframe-z1.md-padding.md-card(flex)
          h4.md-subheader Información Legal
          div(layout layout-sm="column")
            md-input-container(flex)
              label Razón Social
              input(type="text" ng-model="vm.org.RazonSocial" required)

            md-input-container(flex)
              label RFC
              input(type="text" ng-model="vm.org.RFC" required)

            md-input-container(flex)
              label Giro de la Empresa
              input(type="text" ng-model="vm.org.Giro")

          div(layout layout-sm="column")

            md-input-container(flex)
              label Representante Legal
              input(type="text" ng-model="vm.org.RepresentanteLegal" required)

            md-input-container(flex)
              label Dirección Fiscal
              input(type="text" ng-model="vm.org.DireccionFiscal")

        //- VALIDACIONES
        //- Esto se muestra sólo si se está editando la organización
        .md-whiteframe-z1.md-padding.md-card(flex ng-show="vm.isEditing")
          h4.md-subheader Validaciones
          div(layout layout-sm="column")
            div(ng-repeat="validation in vm.validations" flex)
              div.text-success(ng-if="vm.org[validation.field]" layout="column" layout-align="center-center" flex)
                md-icon.material-icon.text-success.md-48 check
                p {{validation.label.success}}
              div.text-danger(ng-if="!vm.org[validation.field]" layout="column" layout-align="center-center" flex)
                md-icon.material-icon.text-danger.md-48 error
                p {{validation.label.error}}

        //- DOCUMENTACIÓN
        //- .md-whiteframe-z1.md-padding.md-card(flex)
        //-   h4.md-subheader Documentación
        //-   p.caption Para registrar a la organización debe incluirse la siguiente documentación:
        //-   div(layout layout-sm="column")
        //-     div(flex layout="column" layout-align="start-center")
        //-       p.md-subhead Acta Constitutiva
        //-       input(type="file" ng-model="vm.ActaFile")
        //-     div(flex layout="column" layout-align="start-center")
        //-       p.md-subhead Registro Federal de Contribuyentes (RFC)
        //-       input(type="file" ng-model="vm.RFCFile")
        //-     div(flex layout="column" layout-align="start-center")
        //-       p.md-subhead RENIECyT
        //-       input(type="file" ng-model="vm.RENIECyTFile")

        .md-whiteframe-z1.md-padding.md-card(flex ng-if="!vm.org.id")
          h4.md-subheader Datos Personales en la Organización
          div(layout layout-sm="column" flex)
            md-input-container(flex)
              label Puesto Actual en la Organización
              input(type="text" ng-model="vm.me.Puesto" required name="vm.form.Puesto")
            div(layout="column")
              label Fecha de Inicio
              md-datepicker(ng-model="vm.me.FechaInicio" flex-sm required name="vm.form.FechaInicio")

        //- PERSONAS EN LA ORGANIZACIÓN
        div(layout flex layout-sm="column" ng-if="vm.org.id")
          .md-whiteframe-z1.md-padding.md-card(flex flex-gt-sm="40")
            div(layout layout-align="space-between-center")
              h4.md-subheader(flex) Personas en la Organización
              md-button.md-primary.md-icon-button(ng-click="vm.isAddingPerson = true")
                md-icon.material-icon person_add

            md-list
              md-list-item.md-3-line.md-long-text( ng-repeat="persona in vm.personas")
                .md-list-item-text
                  h3 {{persona.Nombre}} {{persona.ApellidoP}} {{persona.ApellidoM}}
                  h4 {{persona.pivot.Puesto}} desde {{persona.pivot.FechaInicio | date:'dd/MM/yyyy'}}
                  p {{persona.Descripcion ? persona.Descripcion : 'Sin Descripción'}}
                md-menu.md.secondary(md-position-mode="target-right target")
                  md-button.md-icon-button( ng-click="vm.openMenu($mdOpenMenu, $event)")
                    md-icon.material-icon more_vert
                  md-menu-content(width="2")
                    md-menu-item
                      md-button(ng-click="vm.viewPerson(persona)" md-menu-align-target)
                        md-icon.material-icon person
                        | Ver Persona
                    //- md-menu-item
                    //-   md-button(ng-click="vm.editPerson(persona)" md-menu-align-target)
                    //-     md-icon.material-icon edit
                    //-     | Editar Persona
                    md-menu-divider
                    md-menu-item
                      md-button(ng-click="vm.removePerson(persona)" md-menu-align-target)
                        md-icon.material-icon close
                        | Eliminar Persona



          .md-whiteframe-z1.md-padding.md-card(flex flex-gt-sm="60" ng-show="vm.isAddingPerson && !vm.isViewingPerson")
            h4.md-subheader Crear un contacto
            p Crear un contacto

          .md-whiteframe-z1.md-padding.md-card(flex flex-gt-sm="60" )
            div(ng-show="!vm.isAddingPerson && vm.isViewingPerson")
              h4.md-subheader Revisar una persona
              pre {{vm.viewingPerson | json:2}}

        div.md-padding(layout layout-align="end-center")
          md-button.md-primary(ng-click="vm.resetForm()") Cancelar
          md-button.md-primary.md-raised(ng-click="vm.submitForm()" ng-disabled="vm.form.$invalid === true") Guardar
          md-progress-circle(md-mode="indeterminate" md-diameter="36px" ng-if="vm.waiting && vm.submitInProgress")
