div.gantt-side{
  min-width: 100px;
}

.ta-bind ul{
  list-style: disc;
  padding: 2em;
}

.ta-bind ol{
  list-style: decimal;
  padding: 2em;
}

div.wizard{
  background-color: white;
}

.text-white{
  color: white;
}

.text-center{
  text-align: center;
}

.text-bold{
  font-weight: bold;
}

.show-info ul{
  list-style: disc;
  padding: 2em;
}

.show-info ol{
  list-style: decimal;
  padding: 2em;
}
.placeholder{
  color: #D5D5D5;
}

.material{
  color: rgba(0,0,0,0.6)
}
.intro-feature-row {
  .md-whiteframe-z1 {
    background-color: #26C6DA;
  }
  .md-font {
    color: white;
  }
}
 .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }
