div.gantt-side{
  min-width: 100px;
}

.li-disc{
  list-style: disc;
  padding: 0.5em;
}

.ta-bind ul{
  list-style: disc;
  padding: 2em;
}

.ta-bind ol{
  list-style: decimal;
  padding: 2em;
}

div.wizard{
  background-color: white;
}

.text-white{
  color: white;
}

.text-center{
  text-align: center;
}

.text-bold{
  font-weight: bold;
}

.show-info ul{
  list-style: disc;
  padding: 2em;
}

.show-info ol{
  list-style: decimal;
  padding: 2em;
}
.placeholder{
  color: #D5D5D5;
}

.material{
  color: rgba(0,0,0,0.6)
}
.intro-feature-row {
  .md-whiteframe-z1 {
    background-color: #26C6DA;
  }
  .md-font {
    color: white;
  }
}


.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }
.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title, .autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; 
}

md-tabs md-tabs-wrapper md-tabs-canvas md-tab-item.md-tab {
  max-width: inherit !important;
}