.dashboard-container.overlay-10.padded-content-page.layout.layout-column.ng-scope
    // TARJETA PARA BUSCAR PROYECTOS
    div(layout='row', layout-md='column')
        md-card(flex='', layout-padding='')
            md-card-content
                h2.text-center(translate='') PROJECT.DESCRIPTOR.MY_PROJECT
                h3.text-center(translate='') PROJECT.DESCRIPTOR.INSTRUCTIONS_PROJECT
                md-autocomplete.margin-bottom-20(ng-disabled='vm.isDisabled', md-no-cache='vm.noCache', md-selected-item='vm.selectedItem', md-search-text-change='vm.searchTextChange(vm.searchText)', md-search-text='vm.searchText', md-selected-item-change='vm.selectedItemChange(item)', md-items='item in vm.querySearch(vm.searchText)', md-item-text='item.Titulo', md-min-length='0', placeholder='Busca tu Proyecto')
                    span(md-highlight-text='vm.searchText', md-highlight-flags='^i') {{item.Titulo}}
    // Tarjeta para Eliminar Descriptores de Programas de Fondeo
    div(layout='row', layout-sm='column', layout-md='column', ng-show='vm.selectedItem!=null')
        // Tarjeta para Agregar Descriptores de Programas de Fondeo
        md-card(flex='30', layout='column', ng-show='vm.selectedItem!=null')
            md-card-content
                h2(translate='') PROJECT.DESCRIPTOR.ADD
                form(name='registrarResultado', novalidate='')
                    md-input-container
                        label(translate='') PROJECT.DESCRIPTOR.TYPE
                        md-select(ng-model='vm.descriptor.idP',md-on-close='vm.showDescriptor()' ,required='', name='tipo')
                            md-option(ng-repeat='tipo in vm.tipoDescriptor', value='{{tipo.id}}')
                                | {{tipo.Nombre}}
                    md-input-container
                        label(translate='') PROJECT.DESCRIPTOR.DESCRIPTOR
                        md-select(ng-model='vm.descriptor.idDescriptor', required='', name='descriptor')
                            md-option(ng-repeat='descriptor in vm.descriptores', value='{{descriptor.id}}')
                                | {{descriptor.Titulo}}
                    md-input-container
                        label(translate='') PROJECT.DESCRIPTOR.NOTES
                        input(ng-model='vm.descriptor.observaciones', required='', name='observaciones')
                    md-button.md-raised(ng-disabled='registrarDescriptor.$invalid', ng-click='vm.addItem()', ng-class="['md-primary','md-hue-2']", aria-label='warn button')
                        span(translate='') PROJECT.DESCRIPTOR.ADD
                    md-button.md-raised(ng-disabled='vm.descriptor==null', ng-click='vm.resetForm()', ng-class="['md-primary','md-hue-2']", aria-label='primary button')
                        span(translate='') PROJECT.DESCRIPTOR.CLEAR
        md-card(flex='', layout='column')
            md-card-content
                h2.text-center(translate='') PROJECT.DESCRIPTOR.CURRENT
                md-list
                    md-list-item.md-4-line(ng-repeat='descriptor in vm.descriptoresProyecto')
                        .md-list-item-text(flex='40')
                            h3 ID: {{descriptor.pivot.id}}
                            h5 Descriptor: {{descriptor.Titulo}}
                            h5 Observaciones: {{descriptor.pivot.observaciones}}
                        div(flex='25')
                            md-button.md-raised.md-primary(ng-click='vm.edit(descriptor)')
                                span(translate='') PROJECT.DESCRIPTOR.EDITPRO
                            md-button.md-raised(ng-click='vm.createDialog($event,descriptor)', ng-class="['md-warn','md-hue-2']", aria-label='warn button')
                                span(translate='') PROJECT.DESCRIPTOR.DELETEPRO
                        md-divider
