<div class="dashboard-container overlay-10 padded-content-page layout layout-column ng-scope">


    <!-- TARJETA PARA BUSCAR PROYECTOS-->
    <div layout="row" layout-md="column">

        <md-card flex layout-padding>
            <md-card-content>
                <h2 class="text-center" translate>PROJECT.DESCRIPTOR.MY_PROJECT</h2>
                <h3 class="text-center" translate>PROJECT.DESCRIPTOR.INSTRUCTIONS_PROJECT</h3>
                <md-autocomplete
                        class="margin-bottom-20"
                        ng-disabled="vm.isDisabled"
                        md-no-cache="vm.noCache"
                        md-selected-item="vm.selectedItem"
                        md-search-text-change="vm.searchTextChange(vm.searchText)"
                        md-search-text="vm.searchText"
                        md-selected-item-change="vm.selectedItemChange(item)"
                        md-items="item in vm.querySearch(vm.searchText)"
                        md-item-text="item.display"
                        md-min-length="0"
                        placeholder="Busca tu Programa de Fondeo">
                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.titulo}}</span>
                </md-autocomplete>
            </md-card-content>
        </md-card>
    </div>

    <!-- Tarjeta para Eliminar Descriptores de Programas de Fondeo-->
    <div layout="row" layout-sm="column" layout-md="column" ng-show="vm.selectedItem!=null">
        <!-- Tarjeta para Agregar Descriptores de Programas de Fondeo-->
        <md-card flex="30" layout="column" ng-show="vm.selectedItem!=null">
            <md-card-content>
                <h2 translate>PROJECT.DESCRIPTOR.ADD</h2>
                <form name="registrarResultado" novalidate>

                    <md-input-container>
                        <label translate>PROJECT.DESCRIPTOR.TYPE</label>
                        <md-select ng-model="tipo" required name="tipo">
                            <md-option ng-repeat="tipo in vm.descriptores" value="{{tipo.id}}">
                                {{tipo.titulo}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label translate>PROJECT.DESCRIPTOR.NOTES</label>
                        <input ng-model="observaciones" required name="observaciones">
                    </md-input-container>
                    <md-button ng-disabled="registrarDescriptor.$invalid" ng-click="addItem()" class="md-raised" ng-class="['md-primary','md-hue-2']" aria-label="warn button" ><span translate>FONDEOS.DESCRIPTOR.ADD</span></md-button>

                </form>

            </md-card-content>
        </md-card>
        <md-card flex layout="column">
            <md-card-content>
                <h2 translate class="text-center">PROJECT.DESCRIPTOR.CURRENT</h2>
                <md-list>
                    <md-list-item class="md-4-line" ng-repeat="descriptor in vm.selectedItem.descriptorProyecto">
                        <div class="md-list-item-text">
                            <h3>ID: {{descriptor.id}}</h3>
                            <h5>ID Descriptor: {{descriptor.idDescriptor}}</h5>
                            <h5>Observaciones: {{descriptor.observaciones}}</h5>
                        </div>
                        <md-button ng-click="deleteItem(etapa)" class="md-raised" ng-class="['md-warn','md-hue-2']" aria-label="warn button"><span translate>PROJECT.DESCRIPTOR.REMOVE_RESULT</span></md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>



</div>