
<div layout="column" layout-align="center center" class="full-image-background mb-bg-fb-07 overlay-40">

    <div layout="row" layout-align="center center">
        <p flex="70"  flex-sm="90" class="md-headline font-weight-300 text-center text-light" translate>PROJECT.INTRO_EXECUTION</p>
    </div>

    <div flex layout="row" layout-align="center center" layout-fill>
        <div flex="80" class="md-whiteframe-z1 margin-bottom-100" layout="column" tri-wizard>
            <md-toolbar class="md-primary">
                <div flex class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <h2 translate>PROJECT.WIZARD.TITLE2</h2><h2> {{triWizard.progress}}% <span translate>PROJECT.WIZARD.COMPLETED</span></h2>
                </div>
                <md-progress-linear class="md-accent padding-bottom-10" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>
            </md-toolbar>
            <md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height md-stretch-tabs="always">
                <md-tab id="requirements">
                    <md-tab-label>
                        <span class="oxy-step-label">1</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <h2 class="text-center" translate>PROJECT.WIZARD.REQUIREMENTS</h2>

                            <form name="projectRequirements" tri-wizard-form>
                                <div flex layout="column" layout-wrap>
                                    <md-input-container>
                                        <div text-angular required ng-model="proyecto.requisitos" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                        <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                        <md-divider></md-divider>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>

                        <div class="wizard" flow-init>
                            <input type="file" flow-btn />
                        </div>

                    </md-tab-body>
                </md-tab>
                <md-tab id="enviornment" ng-disabled="projectRequirements.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">2</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <h2 class="text-center" translate>PROJECT.WIZARD.ENVIORNMENT</h2>

                            <form name="projectEnviornment" tri-wizard-form>
                                <md-input-container>
                                    <div text-angular required ng-model="proyecto.entorno" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                    <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                    <md-divider></md-divider>
                                </md-input-container>

                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="technical_factibility" ng-disabled="projectEnviornment.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">3</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <h2 class="text-center" translate>PROJECT.WIZARD.TECHNICAL_FACTIBILITY</h2>

                            <form name="projectTechnicalFactibility" tri-wizard-form>
                                <md-input-container>
                                    <div text-angular required ng-model="proyecto.factibilidad_tecnica" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                    <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                    <md-divider></md-divider>
                                </md-input-container>

                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="economical_factibility" ng-disabled="projectTechnicalFactibility.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">4</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <h2 class="text-center" translate>PROJECT.WIZARD.ECONOMICAL_FACTIBILITY</h2>

                            <form name="projectEconomicalFactibility" tri-wizard-form>
                                <md-input-container>
                                    <div text-angular required ng-model="proyecto.factibilidad_economica" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                    <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                    <md-divider></md-divider>
                                </md-input-container>

                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="commercial_factibility" ng-disabled="projectEconomicalFactibility.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">5</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <h2 class="text-center" translate>PROJECT.WIZARD.COMMERCIAL_FACTIBILITY</h2>

                            <form name="projectCommercialFactibility" tri-wizard-form>
                                <md-input-container>
                                    <div text-angular required ng-model="proyecto.factibilidad_comercial" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                    <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                    <md-divider></md-divider>
                                </md-input-container>

                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="commercial_benchmark" ng-disabled="projectCommercialFactibility.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">6</span>
                    </md-tab-label>
                    <md-tab-body>

                        <div class="wizard layout-padding">
                            <h2 class="text-center" translate>PROJECT.WIZARD.COMMERCIAL_BENCHMARK</h2>

                            <form name="projectCommercialBenchmark" tri-wizard-form>
                                <md-input-container>
                                    <div text-angular required ng-model="proyecto.benchmark_comercial" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                    <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                    <md-divider></md-divider>
                                </md-input-container>

                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="technological_benchmark" ng-disabled="projectCommercialBenchmark.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">7</span>
                    </md-tab-label>
                    <md-tab-body>

                        <div class="wizard layout-padding">
                            <h2 class="text-center" translate>PROJECT.WIZARD.TECHNOLOGICAL_BENCHMARK</h2>
                            <form name="projectTechnologicalBenchmark" tri-wizard-form>
                                <md-input-container>
                                    <div text-angular required ng-model="proyecto.benchmark_tecnologico" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                    <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                    <md-divider></md-divider>
                                </md-input-container>

                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="human_resources" ng-disabled="projectTechnologicalBenchmark.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">8</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <h2 class="text-center" translate>PROJECT.WIZARD.HUMAN_RESOURCES</h2>

                            <form name="projectHumanResources" tri-wizard-form>
                                <md-input-container>
                                    <div text-angular required ng-model="proyecto.recursos_humanos" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                    <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                    <md-divider></md-divider>
                                </md-input-container>

                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="technological_resources" ng-disabled="projectHumanResources.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">9</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <h2 class="text-center" translate>PROJECT.WIZARD.TECHNOLOGICAL_RESOURCES</h2>

                            <form name="projectTechnologicalResources" tri-wizard-form>
                                <md-input-container>
                                    <div text-angular required ng-model="proyecto.recursos_tecnologicos" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                    <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                    <md-divider></md-divider>
                                </md-input-container>

                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="material_resources" ng-disabled="projectTechnologicalResources.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">10</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <h2 class="text-center" translate>PROJECT.WIZARD.MATERIAL_RESOURCES</h2>

                            <form name="projectMateriallResources" tri-wizard-form>
                                <md-input-container>
                                    <div text-angular required ng-model="proyecto.alcances" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                    <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                    <md-divider></md-divider>
                                </md-input-container>

                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>



            <div class="wizard-navbar" layout-fill layout-padding layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep > 9" ng-disabled="triWizard.prevStepDisabled()" translate="PROJECT.WIZARD.PREV"></md-button>
                <md-button class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide="triWizard.progress == 100 && triWizard.currentStep >= 9" ng-disabled="triWizard.nextStepDisabled()" translate="PROJECT.WIZARD.NEXT"></md-button>
                <md-button class="md-accent md-raised" ng-click="triWizard.currentStep = 9" ng-show="triWizard.progress == 100 && triWizard.currentStep >= 9 " translate="PROJECT.WIZARD.SEND"></md-button>
            </div>
        </div>
    </div>
</div>
