div.dashboard-container.overlay-10.padded-content-page.layout.layout-column.ng-scope
    // TARJETA PARA BUSCAR PROYECTOS
    md-card(flex layout='column')
        md-card-content
            h3 Gráfico de Gantt
            div(flex layout='row' layout-sm='column' layout-align='space-around center')
                h3.text-center Crear nueva etapa:
                form(name='createEtapa')
                    md-input-container
                        label Nombre de la etapa
                        input(type='text' ng-model='vm.newEtapa.name' required)
                md-button.md-raised.md-primary(ng-click="vm.createEtapa()" ng-disabled='createEtapa.$invalid')
                    span Agregar etapa

            md-divider
            div(flex gantt data='vm.data' from-date='vm.fromDate' to-date='vm.toDate' headers='vm.headers')
                gantt-tree
                gantt-groups
                gantt-tooltips
                gantt-bounds
                gantt-progress
                gantt-sortable
                gantt-movable
                gantt-draw-task(enabled='true' task-factory='vm.drawTaskFactory')
                gantt-resize-sensor
            md-divider
        div(flex layout='row' layout-sm='column' layout-align='center center')
            span Mostrar desde:
            md-datepicker(ng-model='vm.fromDate')
            span Mostrar hasta:
            md-datepicker(ng-model='vm.toDate')
            md-button.md-raised.md-primary(ng-click="vm.logData()")
                span Mostrar datos
        md-divider
        div(ng-show='vm.newTarea.id!=null' flex layout='row' layout-sm='column' layout-align='center center')
            h3.text-center Editar tarea
            md-input-container
                label Nombre de la Tarea
                input(ng-disabled='vm.newTarea.id==null' type='text' ng-model='vm.newTarea.name')
            span De:
            md-datepicker(ng-disabled='vm.newTarea.id==null' ng-change='vm.updateFrom()' ng-model='vm.newTarea.newFrom')
            span Hasta:
            md-datepicker(ng-disabled='vm.newTarea.id==null' ng-change='vm.updateTo()' ng-model='vm.newTarea.newTo')
            md-button.md-raised.md-primary(ng-click="vm.newTarea=null")
                span Dejar de editar



    div(layout='row', layout-md='column')
        md-card(flex='', layout-padding='')
            md-card-content
                h2.text-center(translate='') PROJECT.STAGES.MY_PROJECTS
                h3.text-center(translate='') PROJECT.STAGES.INSTRUCTIONS
                md-autocomplete.margin-bottom-20(ng-disabled='vm.isDisabled', md-no-cache='vm.noCache', md-selected-item='vm.selectedItem', md-search-text-change='vm.searchTextChange(vm.searchText)', md-search-text='vm.searchText', md-selected-item-change='vm.selectedItemChange(item)', md-items='item in vm.querySearch(vm.searchText)', md-item-text='item.display', md-min-length='0', placeholder='Busca tu proyecto')
                    span(md-highlight-text='vm.searchText', md-highlight-flags='^i') {{item.display}}
    // Tarjeta para eliminar etapas
    div(layout='row', layout-sm='column', layout-md='column', ng-show='vm.selectedItem!=null')
        md-card(flex='', layout='column')
            md-card-content
                h2.text-center(translate='') PROJECT.STAGES.REGISTERED_STAGES
                md-list
                    md-subheader.md-no-sticky(translate='') PROJECT.STAGES.STAGES
                    md-list-item.md-2-line(ng-repeat='etapa in vm.selectedItem.etapas')
                        .md-list-item-text
                            h3 Etapa: {{etapa.tarea}}
                            h4 Tarea Precedente: {{etapa.tareaPrecedente}}
                            p Entregable: {{etapa.entregable}}
                        md-button.md-raised(ng-click='deleteItem(etapa)', ng-class="['md-warn','md-hue-2']", aria-label='warn button')
                            span(translate='') PROJECT.STAGES.REMOVE_STAGE
                        md-divider
        // Tarjeta para agregar etapas
        md-card(flex='', layout='column', ng-show='vm.selectedItem!=null')
            md-card-content
                h2(translate='') PROJECT.STAGES.NEW_STAGE
                form(name='registrarEtapa', novalidate='')
                    md-input-container
                        label(translate='') PROJECT.STAGES.NEW_STAGE
                        input(ng-model='etapa', required='', name='etapa')
                    md-input-container
                        label(translate='') PROJECT.STAGES.PREVIOUS_STAGE
                        md-select(ng-model='etapaPrecedente', ng-required='vm.selectedItem.etapas==null')
                            md-option(ng-repeat='etapa in vm.selectedItem.etapas', value='{{etapa.id}}')
                                | {{etapa.id}}
                    md-input-container
                        label(translate='') PROJECT.STAGES.CHECKLIST
                        textarea(type='text', ng-model='entregable', name='entregable', required='')
                    md-button.md-raised(ng-disabled='registrarEtapa.$invalid', ng-click='addItem()', ng-class="['md-primary','md-hue-2']", aria-label='warn button')
                        span(translate='') PROJECT.STAGES.NEW_STAGE
