.dashboard-container.overlay-10.padded-content-page.layout.layout-column.ng-scope
    // TARJETA PARA BUSCAR PROYECTOS
    div(layout='row', layout-md='column')
        md-card(flex='', layout-padding='')
            md-card-content
                h2.text-center(translate='') PROJECT.INSCRIPTION.TITLE
                h3.text-center(translate='') PROJECT.INSCRIPTION.SELECTPROJECT
                md-autocomplete.margin-bottom-20(ng-disabled='vm.isDisabled', md-no-cache='vm.noCache', md-selected-item='vm.selectedItem', md-search-text-change='vm.searchTextChange(vm.searchText)', md-search-text='vm.searchText', md-selected-item-change='vm.selectedItemChange(item)', md-items='item in vm.querySearch(vm.searchText)', md-item-text='item.Titulo', md-min-length='0', placeholder='Selecciona el Proyecto')
                    span(md-highlight-text='vm.searchText', md-highlight-flags='^i') {{item.Titulo}}

    // TARJETA PARA Mostrar su informacion
    div(layout='row', layout-sm='column', layout-md='column', ng-show='vm.selectedItem!=null')
        md-card(flex='', layout='column')
            md-card-content
                h2.text-center(translate='') PROJECT.INSCRIPTION.INFOPROJECT
                h3 id: {{vm.selectedItem.id}}
                h3 Titulo: {{vm.selectedItem.Titulo}}
                h4 Descripcion: {{vm.selectedItem.Descripcion}}
                h4(ng-bind-html='vm.selectedItem.Antecedentes') Antecedentes:
                h4 Justificacion: {{vm.selectedItem.Justificacion}}
                h5 Objetivos: {{vm.selectedItem.Objetivos}}
                h6 Alcances: {{vm.selectedItem.Alcances}}

    div(layout='row', layout-sm='column', layout-md='column', ng-show='vm.showSolicitudes && vm.selectedItem!=null')
        // Muestra los Programas de Fondeo Activos
        md-card(flex='', layout='column')
            // Titulo del toolbar
            md-toolbar.md-table-toolbar.md-default
                .md-toolbar-tools
                    span(translate='') PROJECT.INSCRIPTION.SOLICITUDES
            // Cabecera de la md table
            md-table-container
                table(md-table='', md-row-select='', ng-model='vm.selectedSolicitudes')
                    thead(md-head='', md-order='vm.query.order')
                        tr(md-row='md-row')
                            th(md-column='md-column', md-order-by='id')
                                span Programa de Fondeo
                            th(md-column='md-column', md-order-by='PublicoObjetivo')
                                span Convocatoria
                            th(md-column='md-column', md-order-by='CriteriosElegibilidad')
                                span Monto Solicitado
                            th(md-column='md-column', md-order-by='RubrosDeApoyo')
                                span Fecha de Solicitud
                            th(md-column='md-column', md-order-by='RubrosDeApoyo')
                                span
                    // Cuerpo de la tabla
                    tbody(md-body='md-body')
                        tr(md-row='md-row', md-select='sol', md-select-id='{{sol.id}}',ng-repeat='sol in vm.solicitudes | orderBy:vm.query.order')
                            td(md-cell='md-cell') {{sol.ProgramaFondeo}}
                            td(md-cell='md-cell') {{sol.Convocatoria}}
                            td(md-cell='md-cell') {{sol.MontoSolicitado}}
                            td(md-cell='md-cell') {{sol.FechaRegistro}}
                            td(md-cell='md-cell' ng-click="$event.stopPropagation()")
                                div
                                md-button.md-primary.md-fab(arial-label="info", ng-click='vm.showSolicitudInfo(sol,$event)')
                                    md-icon(md-font-icon="fa fa-bars")

    div(layout='column', layout-md='column')
        // Muestra los Programas de Fondeo Activos
        md-card(flex='', ng-show='vm.showFondeos')
            // Titulo del toolbar
            md-toolbar.md-table-toolbar.md-default
                .md-toolbar-tools
                    span(translate='') PROJECT.INSCRIPTION.FONDEOACTIVE
            // Cabecera de la md table
            md-table-container
                table(md-table='', md-row-select='', ng-model='vm.selectedFondeos')
                    thead(md-head='', md-order='vm.query.order')
                        tr(md-row='md-row')
                            th(md-column='md-column', md-order-by='id')
                                span id
                            th(md-column='md-column', md-order-by='Titulo')
                                span Titulo
                            th(md-column='md-column', md-order-by='PublicoObjetivo')
                                span Publico Objetivo
                            th(md-column='md-column', md-order-by='FondoTotal')
                                span Fondo Total
                            th(md-column='md-column', md-order-by='CriteriosElegibilidad')
                                span Criterios
                            th(md-column='md-column', md-order-by='RubrosDeApoyo')
                                span Rubros de Apoyo
                    // Cuerpo de la tabla
                    tbody(md-body='md-body')
                        tr(md-row='md-row', md-select='fondo', md-select-id='{{fondo.id}}',   md-on-select='vm.funcionfondeos', ng-repeat='fondo in vm.fondeos | orderBy:vm.query.order | limitTo: myLimit: (myPage - 1) * myLimit', md-on-deselect='vm.funcionConvDesc')
                            td(md-cell='md-cell') {{fondo.id}}
                            td(md-cell='md-cell') {{fondo.Titulo}}
                            td(md-cell='md-cell') {{fondo.PublicoObjetivo}}
                            td(md-cell='md-cell') ${{fondo.FondoTotal | number:2}}
                            td(md-cell='md-cell') {{fondo.CriteriosElegibilidad}}
                            td(md-cell='md-cell') {{fondo.RubrosDeApoyo}}
            md-table-pagination(md-limit='myLimit', md-page='myPage', md-total="{{vm.fondeos.length}}",  md-on-paginate='onPaginate', md-page-select)

        // Muestra las Convocatorias relacionadas a los programas de fondeo
        md-card(flex='', ng-show='vm.showConvocatoria')
            // Titulo del toolbar
            md-toolbar.md-table-toolbar.md-default
                .md-toolbar-tools
                    span(translate='') PROJECT.INSCRIPTION.CALLACTIVES
            // Cabecera de la md table
            md-table-container
                table(md-table='', md-row-select='', ng-model='vm.selectedConvocatorias')
                    thead(md-head='', md-order='vm.query.order')
                        tr(md-row='md-row')
                            th(md-column='md-column', md-order-by='id')
                                span id
                            th(md-column='md-column', md-order-by='Nombre')
                                span Titulo
                            th(md-column='md-column', md-order-by='FechaInicio')
                                span Fecha Inicio
                            th(md-column='md-column', md-order-by='FechaTermino')
                                span Fecha Termino
                            th(md-column='md-column', md-order-by='Requisitos')
                                span Requisitos
                            th(md-column='md-column', md-order-by='MontosMaximosTotales')
                                span Monto maximo
                    // Cuerpo de la tabla
                    tbody(md-body='md-body')
                        tr(md-row='md-row', md-select='convocatoria', md-select-id='{{convocatoria.id}}', md-auto-select='md-auto-select', md-on-select='vm.funcionConvocatoria', ng-repeat='convocatoria in vm.convocatorias | orderBy:vm.query.order', md-on-deselect='vm.funcionModaDesc' )
                            td(md-cell='md-cell') {{convocatoria.id}}
                            td(md-cell='md-cell') {{convocatoria.Nombre}}
                            td(md-cell='md-cell') {{convocatoria.FechaInicio}}
                            td(md-cell='md-cell') {{convocatoria.FechaTermino}}
                            td(md-cell='md-cell') {{convocatoria.Requisitos}}
                            td(md-cell='md-cell') {{convocatoria.MontosMaximosTotales}}

        // Muestra las Modalidades que pertenecen a la convocatoria
        md-card(flex='', ng-show='vm.showModalities')
            md-card-content
                // Titulo del toolbar
                md-toolbar.md-table-toolbar.md-default
                    .md-toolbar-tools
                        span(translate='') PROJECT.INSCRIPTION.MODALITYSAVALIABLES
                // Cabecera de la md table
                md-table-container
                    table(md-table='', md-row-select='', ng-model='vm.selectedModalidad')
                        thead(md-head='', md-order='vm.query.order')
                            tr(md-row='md-row')
                                th(md-column='md-column', md-order-by='id')
                                    span id
                                th(md-column='md-column', md-order-by='nombre')
                                    span Nombre
                                th(md-column='md-column', md-order-by='montos')
                                    span Rango de Montos
                                th(md-column='md-column', md-order-by='criterios')
                                    span Criterios
                                th(md-column='md-column', md-order-by='entregables')
                                    span Entregables
                                th(md-column='md-column', md-order-by='figuras')
                                    span Figuras de Apoyo
                        // Cuerpo de la tabla
                        tbody(md-body='md-body')
                            tr(md-row='md-row', md-select='modalidad', md-select-id='{{modalidad.id}}', md-auto-select='md-auto-select', md-on-select='vm.funcionModalidad', ng-repeat='modalidad in vm.modalidades | orderBy:vm.query.order', md-on-deselect='vm.funcionFormsDesc')
                                td(md-cell='md-cell') {{modalidad.id}}
                                td(md-cell='md-cell') {{modalidad.Nombre}}
                                td(md-cell='md-cell') {{modalidad.Montos}}
                                td(md-cell='md-cell') {{modalidad.CriteriosEvaluacion}}
                                td(md-cell='md-cell') {{modalidad.Entregables}}
                                td(md-cell='md-cell') {{modalidad.FigurasApoyo}}
    div(flex)
        md-card(flex='', ng-show='vm.showFields')
            div(layout='column')
                div(layout='row', layout-align='center center', layout-sm='column')
                    md-card-content
                        h2(translate='') PROJECT.INSCRIPTION.FIELDS
                        form(name='agregarSolicitud', novalidate='')
                            md-input-container
                                label(translate='') PROJECT.INSCRIPTION.TECNOPARKS
                                md-select(ng-model='vm.tecnopark', required='', name='tecnopark')
                                    md-option(ng-repeat='tecnopark in vm.tecnoparks', value='{{tecnopark.id}}')
                                        | {{tecnopark.Nombre}}
                            md-input-container
                                label(translate='') PROJECT.INSCRIPTION.MOUNT
                                input(ng-model='vm.montosolicitado',type="number", required='', name='montosolicitado',ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/")
                                div(ng-messages="agregarSolicitud.montosolicitado.$valid")
                                    div(ng-if="agregarSolicitud.montosolicitado.$valid!=true")
                                        span Ingresa un monto válido
                            md-input-container
                                label(translate='') PROJECT.INSCRIPTION.TRLBEGIN
                                md-select(ng-model='vm.trlInicial', required='', name='trlInicial')
                                    md-option(ng-repeat='trlInicial in vm.trlIniciales', value='{{trlInicial.id}}')
                                        | {{trlInicial.Descripcion}}
                            md-input-container
                                label(translate='') PROJECT.INSCRIPTION.TRLENDING
                                md-select(ng-model='vm.trlFinal', required='', name='trlFinal')
                                    md-option(ng-repeat='trlFinal in vm.trlFinales', value='{{trlFinal.id}}')
                                        | {{trlFinal.Descripcion}}
                            md-button.md-raised(ng-disabled='registrarSolicitud.$invalid', ng-click='vm.addItem()', ng-class="['md-primary','md-hue-2']", aria-label='warn button')
                                span(translate='') PROJECT.INSCRIPTION.SAVE

