//
   Created by lockonDaniel on 12/23/15.

div.full-image-background.mb-bg-fb-07.overlay-40(layout='column', layout-align='center center')
   div(layout='row', layout-align='center center')
      p.md-headline.font-weight-300.text-center.text-light(flex='70', flex-sm='90', translate='') PROJECT.INTRO_EXECUTION
   div(flex='', layout='row', layout-align='center center', layout-fill='')
      .md-whiteframe-z1.margin-bottom-100(flex='80', layout='column', tri-wizard='')
         md-toolbar.md-primary
            div.md-toolbar-tools(flex layout='column')
               div(flex layout='column')
                  div(flex layout='row' layout-sm='column' layout-align-sm='center center' layout-align='space-between center')
                     h2.md-display-2(translate='') PROJECT.WIZARD.TITLE4
                     h2
                        | {{vm.completed}}%
                        span.md-display-2(translate='') PROJECT.WIZARD.COMPLETED
                  div(flex layout='row' layout-sm='column' layout-align-sm='center center' layout-align='space-between center' )
                     h3.md-display-1(translate='') {{vm.steps[triWizard.currentStep]}}
                     h3.md-display-1(translate='') {{vm.proyectoLabel}}
            md-progress-linear.md-accent.padding-bottom-10(md-mode='determinate', ng-value='vm.completed')
         md-tabs.md-primary(layout-fill='', md-selected='triWizard.currentStep', md-dynamic-height='', md-stretch-tabs='always')
            md-tab#selectProject
               md-tab-label
                  span.oxy-step-label 1
               md-tab-body
                  .wizard.layout-padding
                     form(name='projectSelect', tri-wizard-form novalidate)
                        div(layout='column', flex='')
                           md-input-container
                              label
                                 span(translate='') PROJECT.IMPACT.SELECT_YOUR_PROJECT
                              md-select(md-on-close='vm.getModeloNegocio()', ng-model='vm.selectedProject', name='select', required='')
                                 md-option(ng-repeat='proyecto in vm.proyectos', ng-value='{{proyecto}}')
                                    | {{proyecto.Titulo}}
                              div(ng-messages='projectSelect.select.$error')
                                 div(ng-message='required')
                                    span(translate='') PROJECT.WIZARD.REQUIRED-FIELD
            md-tab#canales(ng-disabled='vm.selectedProject==null')
               md-tab-label
                  span.oxy-step-label 2
               md-tab-body
                  .wizard.layout-padding(layout='column')
                     div(layout='column')
                        md-input-container
                           div(text-angular ng-model='vm.ModeloNegocio.Canales', ta-toolbar="[['bold','italics','ul','ol']]")
                           label(translate='') PROJECT.FORM.CLICK_TO_WRITE
                           md-divider
                        md-button.md-primary.md-raised(ng-click='vm.updateText()',aria-label='md-button')
                           span(translate) PROJECT.WIZARD.UPDATE_TEXT
                     div(layout='row', layout-sm='column', layout-align='space-around center')
                        h3.md-display-1(translate='') PROJECT.WIZARD.FILE_UPLOAD
                     div(layout='row', layout-sm='column', layout-align='center center')
                        form(name='Requerimientos', tri-wizard-form='')
                           .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('Canales')")
                              md-button.md-fab.md-primary(aria-label='md-button')
                                 ng-md-icon(icon='attach_file')
                     div(ng-show='vm.canalesFile!=null', layout='row', layout-sm='column')
                        h3.md-display-1(translate='') PROJECT.EXECUTION.UPLOADED_FILE
                        a(href='{{vm.canalesFile.Ruta}}')
                           h3.md-display-1 {{vm.canalesFile.Nombre}}
            md-tab#ventajaCompetitiva(ng-disabled='(vm.ModeloNegocio.Canales==null || vm.ModeloNegocio.Canales=="" )  && vm.canalesFile==null')
               md-tab-label
                  span.oxy-step-label 3
               md-tab-body
                  .wizard.layout-padding(layout='column')
                     div(layout='column')
                        md-input-container
                           div(text-angular ng-model='vm.ModeloNegocio.VentajaCompetitiva', ta-toolbar="[['bold','italics','ul','ol']]")
                           label(translate='') PROJECT.FORM.CLICK_TO_WRITE
                           md-divider
                        md-button.md-primary.md-raised(ng-click='vm.updateText()',aria-label='md-button')
                           span(translate) PROJECT.WIZARD.UPDATE_TEXT
                     div(layout='row', layout-sm='column', layout-align='space-around center')
                        h3.md-display-1(translate='') PROJECT.WIZARD.FILE_UPLOAD
                     div(layout='row', layout-sm='column', layout-align='center center')
                        form(name='VentajaCompetitiva', tri-wizard-form='')
                           .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('VentajaCompetitiva')")
                              md-button.md-fab.md-primary(aria-label='md-button')
                                 ng-md-icon(icon='attach_file')
                     div(ng-show='vm.ventajaCFile!=null', layout='row', layout-sm='column')
                        h3.md-display-1(translate='') PROJECT.EXECUTION.UPLOADED_FILE
                        a(href='{{vm.ventajaCFile.Ruta}}')
                           h3.md-display-1 {{vm.ventajaCFile.Nombre}}
            md-tab#problematica(ng-disabled='(vm.ModeloNegocio.VentajaCompetitiva==null || vm.ModeloNegocio.VentajaCompetitiva=="") && vm.ventajaCFile==null')
               md-tab-label
                  span.oxy-step-label 4
               md-tab-body
                  .wizard.layout-padding(layout='column')
                     div(layout='column')
                        md-input-container
                           div(text-angular ng-model='vm.ModeloNegocio.Problematica', ta-toolbar="[['bold','italics','ul','ol']]")
                           label(translate='') PROJECT.FORM.CLICK_TO_WRITE
                           md-divider
                        md-button.md-primary.md-raised(ng-click='vm.updateText()',aria-label='md-button')
                           span(translate) PROJECT.WIZARD.UPDATE_TEXT
                     div(layout='row', layout-sm='column', layout-align='space-around center')
                           h3.md-display-1(translate='') PROJECT.WIZARD.FILE_UPLOAD
                        div(layout='row', layout-sm='column', layout-align='center center')
                           form(name='Problematica', tri-wizard-form='')
                              .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('Problematica')")
                                 md-button.md-fab.md-primary(aria-label='md-button')
                                    ng-md-icon(icon='attach_file')
                        div(ng-show='vm.problematicaFile!=null', layout='row', layout-align-gt-md='center center', layout-sm='column')
                           h3.md-display-1(translate='') PROJECT.EXECUTION.UPLOADED_FILE
                           a(href='{{vm.problematicaFile.Ruta}}')
                              h3.md-display-1 {{vm.problematicaFile.Nombre}}
            md-tab#costos(ng-disabled='(vm.ModeloNegocio.Problematica==null || vm.ModeloNegocio.Problematica=="") && vm.problematicaFile==null')
               md-tab-label
                  span.oxy-step-label 5
               md-tab-body
                  .wizard.layout-padding(layout='column')
                     div(layout='column')
                        md-input-container
                           div(text-angular ng-model='vm.ModeloNegocio.Costos', ta-toolbar="[['bold','italics','ul','ol']]")
                           label(translate='') PROJECT.FORM.CLICK_TO_WRITE
                           md-divider
                           md-button.md-primary.md-raised(ng-click='vm.updateText()',aria-label='md-button')
                              span(translate) PROJECT.WIZARD.UPDATE_TEXT
                        span(translate) PROJECT.WIZARD.UPDATE_TEXT
                        div(layout='row', layout-sm='column', layout-align='space-around center')
                           h3.md-display-1(translate='') PROJECT.WIZARD.FILE_UPLOAD
                        div(layout='row', layout-sm='column', layout-align='center center')
                           form(name='Costos', tri-wizard-form='')
                              .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('Costos')")
                                 md-button.md-fab.md-primary(aria-label='md-button')
                                    ng-md-icon(icon='attach_file')
                        div(ng-show='vm.costosFile!=null', layout='row', layout-align-gt-md='center center', layout-sm='column')
                           h3.md-display-1(translate='') PROJECT.EXECUTION.UPLOADED_FILE
                           a(href='{{vm.costosFile.Ruta}}')
                              h3.md-display-1 {{vm.costosFile.Nombre}}
            md-tab#ingresos(ng-disabled='(vm.ModeloNegocio.Costos==null || vm.ModeloNegocio.Costos=="") && vm.costosFile==null')
               md-tab-label
                  span.oxy-step-label 6
               md-tab-body
                  .wizard.layout-padding(layout='column')
                     div(layout='column')
                        md-input-container
                           div(text-angular ng-model='vm.ModeloNegocio.Ingresos', ta-toolbar="[['bold','italics','ul','ol']]")
                           label(translate='') PROJECT.FORM.CLICK_TO_WRITE
                           md-divider
                           md-button.md-primary.md-raised(ng-click='vm.updateText()',aria-label='md-button')
                              span(translate) PROJECT.WIZARD.UPDATE_TEXT
                     div(layout='row', layout-sm='column', layout-align='space-around center')
                        h3.md-display-1(translate='') PROJECT.WIZARD.FILE_UPLOAD
                     div(layout='row', layout-sm='column', layout-align='center center')
                        form(name='Ingresos', tri-wizard-form='')
                           .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('Ingresos')")
                              md-button.md-fab.md-primary(aria-label='md-button')
                                 ng-md-icon(icon='attach_file')
                     div(ng-show='vm.ingresosFile!=null', layout='row', layout-align-gt-md='center center', layout-sm='column')
                        h3.md-display-1(translate='') PROJECT.EXECUTION.UPLOADED_FILE
                        a(href='{{vm.ingresosFile.Ruta}}')
                           h3.md-display-1 {{vm.ingresosFile.Nombre}}
            md-tab#actividadesClave(ng-disabled='(vm.ModeloNegocio.Ingresos==null || vm.ModeloNegocio.Ingresos=="") && vm.ingresosFile==null')
               md-tab-label
                  span.oxy-step-label 7
               md-tab-body
                  .wizard.layout-padding(layout='column')
                     div(layout='column')
                        md-input-container
                           div(text-angular ng-model='vm.ModeloNegocio.ActividadesClave', ta-toolbar="[['bold','italics','ul','ol']]")
                           label(translate='') PROJECT.FORM.CLICK_TO_WRITE
                           md-divider
                           md-button.md-primary.md-raised(ng-click='vm.updateText()',aria-label='md-button')
                              span(translate) PROJECT.WIZARD.UPDATE_TEXT
                     div(layout='row', layout-sm='column', layout-align='space-around center')
                        h3.md-display-1(translate='') PROJECT.WIZARD.FILE_UPLOAD
                     div(layout='row', layout-sm='column', layout-align='center center')
                        form(name='ActividadesClave', tri-wizard-form='')
                           .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('ActividadesClave')")
                              md-button.md-fab.md-primary(aria-label='md-button')
                                 ng-md-icon(icon='attach_file')
                     div(ng-show='vm.actividadesCFile!=null', layout='row', layout-align-gt-md='center center', layout-sm='column')
                        h3.md-display-1(translate='') PROJECT.EXECUTION.UPLOADED_FILE
                        a(href='{{vm.actividadesCFile.Ruta}}')
                           h3.md-display-1 {{vm.actividadesCFile.Nombre}}
            md-tab#relacionesCliente(ng-disabled='(vm.ModeloNegocio.ActividadesClave==null || vm.ModeloNegocio.ActividadesClave=="") && vm.actividadesCFile==null')
               md-tab-label
                  span.oxy-step-label 8
               md-tab-body
                  .wizard.layout-padding(layout='column')
                     div(layout='column')
                        md-input-container
                           div(text-angular ng-model='vm.ModeloNegocio.RelacionesCliente', ta-toolbar="[['bold','italics','ul','ol']]")
                           label(translate='') PROJECT.FORM.CLICK_TO_WRITE
                           md-divider
                           md-button.md-primary.md-raised(ng-click='vm.updateText()',aria-label='md-button')
                              span(translate) PROJECT.WIZARD.UPDATE_TEXT
                     div(layout='row', layout-sm='column', layout-align='space-around center')
                        h3.md-display-1(translate='') PROJECT.WIZARD.FILE_UPLOAD
                     div(layout='row', layout-sm='column', layout-align='center center')
                        form(name='RelacionesCliente', tri-wizard-form='')
                           .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('RelacionesCliente')")
                              md-button.md-fab.md-primary(aria-label='md-button')
                                 ng-md-icon(icon='attach_file')
                     div(ng-show='vm.relacionesCFile!=null', layout='row', layout-align-gt-md='center center', layout-sm='column')
                        h3.md-display-1(translate='') PROJECT.EXECUTION.UPLOADED_FILE
                        a(href='{{vm.relacionesCFile.Ruta}}')
                           h3.md-display-1 {{vm.relacionesCFile.Nombre}}
            md-tab#recursosClave(ng-disabled='(vm.ModeloNegocio.RelacionesCliente==null || vm.ModeloNegocio.RelacionesCliente=="") && vm.relacionesCFile==null')
               md-tab-label
                  span.oxy-step-label 9
               md-tab-body
                  .wizard.layout-padding(layout='column')
                     div(layout='column')
                        md-input-container
                           div(text-angular ng-model='vm.ModeloNegocio.RecursosClave', ta-toolbar="[['bold','italics','ul','ol']]")
                           label(translate='') PROJECT.FORM.CLICK_TO_WRITE
                           md-divider
                           md-button.md-primary.md-raised(ng-click='vm.updateText()',aria-label='md-button')
                              span(translate) PROJECT.WIZARD.UPDATE_TEXT
                     div(layout='row', layout-sm='column', layout-align='space-around center')
                        h3(translate='') PROJECT.WIZARD.FILE_UPLOAD
                     div(layout='row', layout-sm='column', layout-align='center center')
                        form(name='RecursosClave', tri-wizard-form='')
                           .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('RecursosClave')")
                              md-button.md-fab.md-primary(aria-label='md-button')
                                 ng-md-icon(icon='attach_file')
                     div(ng-show='vm.recursosCFile!=null', layout='row', layout-align-gt-md='center center', layout-sm='column')
                        h3.md-display-1(translate='') PROJECT.EXECUTION.UPLOADED_FILE
                        a(href='{{vm.recursosCFile.Ruta}}')
                           h3.md-display-1 {{vm.recursosCFile.Nombre}}
            md-tab#aliadosClave(ng-disabled='(vm.ModeloNegocio.RecursosClave==null || vm.ModeloNegocio.RecursosClave=="") && vm.recursosCFile==null')
               md-tab-label
                  span.oxy-step-label 10
               md-tab-body
                  .wizard.layout-padding(layout='column')
                     div(layout='column')
                        md-input-container
                           div(text-angular ng-model='vm.ModeloNegocio.AliadosClave', ta-toolbar="[['bold','italics','ul','ol']]")
                           label(translate='') PROJECT.FORM.CLICK_TO_WRITE
                           md-divider
                           md-button.md-primary.md-raised(ng-click='vm.updateText()',aria-label='md-button')
                              span(translate) PROJECT.WIZARD.UPDATE_TEXT
                     div(layout='row', layout-sm='column', layout-align='space-around center')
                        h3.md-display-1(translate='') PROJECT.WIZARD.FILE_UPLOAD
                     div(layout='row', layout-sm='column', layout-align='center center')
                        form(name='AliadosClave', tri-wizard-form='')
                           .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('AliadosClave')")
                              md-button.md-fab.md-primary(aria-label='md-button')
                                 ng-md-icon(icon='attach_file')
                     div(ng-show='vm.aliadosCFile!=null', layout='row', layout-align-gt-md='center center', layout-sm='column')
                        h3.md-display-1(translate='') PROJECT.EXECUTION.UPLOADED_FILE
                        a(href='{{vm.aliadosCFile.Ruta}}')
                           h3.md-display-1 {{vm.aliadosCFile.Nombre}}
         .wizard-navbar(layout-fill='', layout-padding='', layout='row', layout-align='end center')
            md-button.md-primary.md-raised(ng-click='triWizard.prevStep()',aria-label='md-button', ng-hide='triWizard.currentStep > 10', ng-disabled='triWizard.prevStepDisabled()', translate='PROJECT.WIZARD.PREV')
            md-button.md-primary.md-raised(ng-click='triWizard.nextStep()',aria-label='md-button', ng-hide='vm.completed == 100 && triWizard.currentStep >= 9', ng-disabled='triWizard.nextStepDisabled()', translate='PROJECT.WIZARD.NEXT')
