<div class="dashboard-container overlay-10 padded-content-page layout layout-column ng-scope">


    <!-- TARJETA PARA BUSCAR PROYECTOS-->
    <div layout="row" layout-md="column">

        <md-card flex="100" layout-align="center center">
            <md-card-content>
                <h2 class="text-center" translate>PROJECT.IP.MY_PROJECTS</h2>
                <h3 class="text-center" translate>PROJECT.IP.INSTRUCTIONS</h3>
                <md-autocomplete
                        class="margin-bottom-20"
                        ng-disabled="vm.isDisabled"
                        md-no-cache="vm.noCache"
                        md-selected-item="vm.selectedItem"
                        md-search-text-change="vm.searchTextChange(vm.searchText)"
                        md-search-text="vm.searchText"
                        md-selected-item-change="vm.selectedItemChange(item)"
                        md-items="item in vm.querySearch(vm.searchText)"
                        md-item-text="item.display"
                        md-min-length="0"
                        placeholder="Busca tu proyecto">
                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-autocomplete>

                <h3 class="text-center" translate ng-show="vm.selectedItem==null">PROJECT.IP.WARNING</h3>
                <div ng-show="vm.selectedItem!=null">

                    <h3 class="text center" translate >PROJECT.IP.INSTRUCTIONS_SELECT</h3>
                    <md-input-container>
                        <label translate>PROJECT.IP.SELECT</label>

                        <div layout="row" layout-md="column">
                            <md-select ng-model="selectedPropiedad" flex="70">
                                <md-option ng-repeat="propiedad in vm.selectedItem.pi_tt" value={{vm.selectedItem.pi_tt.indexOf(propiedad)}}>
                                    Registro {{propiedad.id}}
                                </md-option>
                            </md-select>
                            <md-button ng-click="deleteItem(selectedPropiedad)" class="md-raised" ng-class="['md-warn','md-hue-2']" aria-label="warn button"><span translate>PROJECT.IP.REMOVE_REGISTER</span></md-button>
                        </div>


                    </md-input-container>
                </div>


            </md-card-content>
        </md-card>
        <md-card flex="33" layout-align="center center" ng-hide="true">
            <md-card-content>
                <h2 class="text center" translate >PROJECT.IP.CONTROL_PANEL</h2>

                <md-divider></md-divider>
                <h3 class="text-center" translate>PROJECT.IP.SHOW_ADD</h3>
                <md-checkbox ng-model="show_add" aria-label="Checkbox 1">
                    <span ng-show="show_add" translate>PROJECT.IP.HIDE_ADD_CHECKBOX</span>
                    <span ng-show="!show_add" translate>PROJECT.IP.SHOW_ADD_CHECKBOX</span>
                </md-checkbox>
                <h3 class="text-center" translate>PROJECT.IP.SHOW_INFO</h3>
                <md-checkbox ng-model="show_info" aria-label="Checkbox 2">
                    <span ng-show="show_info" translate>PROJECT.IP.HIDE_ADD_CHECKBOX</span>
                    <span ng-show="!show_info" translate>PROJECT.IP.SHOW_ADD_CHECKBOX</span>
                </md-checkbox>



            </md-card-content>
        </md-card>
    </div>

    <div layout="column" layout-md="column">
        <!-- Tarjeta para visualizar registro-->
        <md-card flex ng-show="vm.selectedItem!=null">
            <md-card-content>
                <h2 class="text-center" translate>PROJECT.IP.INSTRUCTIONS_TABS</h2>
                <md-tabs class="md-primary" md-selected="selectedTabIndex" md-stretch-tabs="always" ng-show="selectedPropiedad!=null" >
                    <md-tab id="productos">
                        <md-tab-label>
                            <span translate>PROJECT.IP.TABS.PRODUCTS</span>
                        </md-tab-label>
                        <div class="wizard">
                            <div class="show-info" ng-bind-html="vm.selectedItem.pi_tt[selectedPropiedad].productos"></div>
                        </div>
                    </md-tab>
                    <md-tab id="procesos">
                        <md-tab-label>
                            <span translate>PROJECT.IP.TABS.PROCESS</span>
                        </md-tab-label>
                        <div class="wizard">
                            <div class="show-info" ng-bind-html="vm.selectedItem.pi_tt[selectedPropiedad].procesos"></div>
                        </div>
                    </md-tab>
                    <md-tab id="valuacion">
                        <md-tab-label>
                            <span translate>PROJECT.IP.TABS.VALUE</span>
                        </md-tab-label>
                        <div class="wizard">
                            <div class="show-info" ng-bind-html="vm.selectedItem.pi_tt[selectedPropiedad].valuacion"></div>
                        </div>
                    </md-tab>





                </md-tabs>

            </md-card-content>

        </md-card>

        <!-- Tarjeta para agregar registro-->


        <div flex ng-show="vm.selectedItem!=null" class="md-whiteframe-z1 margin-top-10 margin-left-10 margin-bottom-100" layout="column" tri-wizard>
                    <md-toolbar class="md-primary">
                        <div flex class="md-toolbar-tools" layout="row" layout-align="space-between center">
                            <h2 translate>PROJECT.IP.INSTRUCTIONS_ADD</h2><h2> {{triWizard.progress}}% <span translate>PROJECT.WIZARD.COMPLETED</span></h2>
                        </div>
                        <md-progress-linear class="md-accent padding-bottom-10" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>
                    </md-toolbar>

                    <md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height md-stretch-tabs="always">
                    <md-tab id="productosRegistro">
                        <md-tab-label>
                            <span class="oxy-step-label">1</span>
                            <span translate>PROJECT.IP.TABS.PRODUCTS</span>
                        </md-tab-label>
                        <md-tab-body>
                            <div class="wizard layout-padding">
                                <form name="productosForm" tri-wizard-form>
                                    <div flex layout="column" layout-wrap>
                                        <md-input-container>
                                            <div text-angular required ng-model="proyecto.productos" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                            <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                            <md-divider></md-divider>
                                        </md-input-container>
                                    </div>
                                </form>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="procesosRegistro" ng-disabled="productosForm.$invalid">
                        <md-tab-label>
                            <span class="oxy-step-label">2</span>
                            <span translate>PROJECT.IP.TABS.PROCESS</span>
                        </md-tab-label>
                        <md-tab-body>
                            <div class="wizard layout-padding">
                                <form name="procesosForm" tri-wizard-form>
                                    <md-input-container>
                                        <div text-angular required ng-model="proyecto.procesos" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                        <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                        <md-divider></md-divider>
                                    </md-input-container>

                                </form>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="valuacionRegistro" ng-disabled="procesosForm.$invalid">
                        <md-tab-label>
                            <span class="oxy-step-label">3</span>
                            <span translate>PROJECT.IP.TABS.VALUE</span>
                        </md-tab-label>
                        <md-tab-body>
                            <div class="wizard layout-padding">
                                <form name="valuacion" tri-wizard-form>
                                    <md-input-container>
                                        <div text-angular required ng-model="proyecto.valuacion" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                        <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                        <md-divider></md-divider>
                                    </md-input-container>

                                </form>
                            </div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
                    <div class="wizard-navbar" layout-fill layout-padding layout="row" layout-align="end center">
                        <md-button class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep > 2" ng-disabled="triWizard.prevStepDisabled()" translate="PROJECT.WIZARD.PREV"></md-button>
                        <md-button class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide="triWizard.progress == 100 && triWizard.currentStep >= 2" ng-disabled="triWizard.nextStepDisabled()" translate="PROJECT.WIZARD.NEXT"></md-button>
                        <md-button class="md-accent md-raised" ng-click="addElement()" ng-show="triWizard.progress == 100 && triWizard.currentStep >= 2 " translate="PROJECT.WIZARD.SEND"></md-button>
                    </div>
                </div>


    </div>

    </div>