

<div layout="column" layout-align="center center" class="full-image-background mb-bg-fb-07 overlay-40">

        <div layout="row" layout-align="center center">
            <p flex="70"  flex-sm="90" class="md-headline font-weight-300 text-center text-light" translate>PROJECT.INTRO</p>
        </div>

        <div flex layout="row" layout-align="center center" layout-fill>
            <div flex="80" class="md-whiteframe-z1 margin-bottom-100" layout="column" tri-wizard>
                <md-toolbar class="md-primary">
                    <div flex class="md-toolbar-tools" layout="row" layout-align="space-between center">
                        <h2 translate>PROJECT.WIZARD.TITLE</h2><h3>{{vm.steps[triWizard.currentStep]}} </h3>   <h2> {{triWizard.progress}}% <span translate>PROJECT.WIZARD.COMPLETED</span></h2>
                    </div>
                    <md-progress-linear class="md-accent padding-bottom-10" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>
                </md-toolbar>
                <md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height md-stretch-tabs="always">
                    <md-tab id="info">
                        <md-tab-label>
                            <span class="oxy-step-label">1</span>
                            <span translate>PROJECT.WIZARD.INFO</span>
                        </md-tab-label>
                        <md-tab-body>
                            <div class="wizard layout-padding">
                                <form name="projectInfo" tri-wizard-form novalidate>
                                    <div layout="column" flex>
                                        <md-input-container>
                                            <label translate>PROJECT.FORM.PROJECT_TITLE</label>
                                            <input name="titulo" required type="text" ng-model="vm.proyecto.Titulo">
                                            <div ng-messages="projectInfo.titulo.$error">
                                                <div ng-message when="required">
                                                    <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container>
                                            <label translate>PROJECT.FORM.PROJECT_DESCRIPTION</label>
                                            <textarea name="descripcion" required ng-model="vm.proyecto.Descripcion" md-maxlength="300"></textarea>
                                            <div ng-messages="projectInfo.descripcion.$error">
                                                <div ng-message when="required">
                                                    <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                                                </div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container ng-show="vm.isOrganization">
                                            <label>Selecciona la Organización</label>
                                            <md-select ng-model="vm.proyecto.Organizacion" md-on-open="vm.loadOrganizations()">
                                                <md-option  ng-repeat="organizacion in vm.organizaciones" value="{{organizacion.id}}">{{organizacion.nombre}}</md-option>
                                            </md-select>
                                        </md-input-container>

                                        <label class="material">Selecciona si el proyecto es tuyo o de una organización</label>
                                        <md-checkbox ng-model="vm.isOrganization" aria-label="Checkbox 1">
                                            <span ng-show="vm.isOrganization" translate>PROJECT.WIZARD.IS_ORGANIZATION</span>
                                            <span ng-show="!vm.isOrganization" translate>PROJECT.WIZARD.IS_MINE</span>
                                        </md-checkbox>

                                    </div>
                                </form>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="history" ng-disabled="projectInfo.$invalid">
                        <md-tab-label>
                            <span class="oxy-step-label">2</span>
                            <span translate>PROJECT.WIZARD.HISTORY</span>
                        </md-tab-label>
                        <md-tab-body>
                            <div class="wizard layout-padding">
                                <form name="projectHistory" tri-wizard-form>
                                    <div flex layout="column" layout-wrap>
                                        <md-input-container>
                                            <div text-angular required ng-model="vm.proyecto.Antecedentes" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                            <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                            <md-divider></md-divider>
                                        </md-input-container>
                                    </div>
                                </form>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="justification" ng-disabled="projectHistory.$invalid">
                        <md-tab-label>
                            <span class="oxy-step-label">3</span>
                            <span translate>PROJECT.WIZARD.JUSTIFICATION</span>
                        </md-tab-label>
                        <md-tab-body>
                            <div class="wizard layout-padding">
                                <form name="projectJustification" tri-wizard-form>
                                    <div flex layout="column" layout-wrap>
                                        <md-input-container>
                                            <div text-angular required ng-model="vm.proyecto.Justificacion" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                            <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                            <md-divider></md-divider>
                                        </md-input-container>
                                    </div>
                                </form>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="aims" ng-disabled="projectJustification.$invalid">
                        <md-tab-label>
                            <span class="oxy-step-label">4</span>
                            <span translate>PROJECT.WIZARD.AIMS</span>
                        </md-tab-label>
                        <md-tab-body>
                            <div class="wizard layout-padding">
                                <form name="projectAims" tri-wizard-form>
                                    <md-input-container>
                                        <div text-angular required ng-model="vm.proyecto.Objetivos" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                        <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                        <md-divider></md-divider>
                                    </md-input-container>

                                </form>
                            </div>
                        </md-tab-body>
                    </md-tab>
                    <md-tab id="reach" ng-disabled="projectAims.$invalid">
                        <md-tab-label>
                            <span class="oxy-step-label">5</span>
                            <span translate>PROJECT.WIZARD.REACH</span>
                        </md-tab-label>
                        <md-tab-body>
                            <div class="wizard layout-padding">
                                <form name="projectReach" tri-wizard-form>
                                    <md-input-container>
                                        <div text-angular required ng-model="vm.proyecto.Alcances" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                        <label translate>PROJECT.FORM.CLICK_TO_WRITE</label>
                                        <md-divider></md-divider>
                                    </md-input-container>

                                </form>
                            </div>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>



                <div class="wizard-navbar" layout-fill layout-padding layout="row" layout-align="end center">
                    <md-button class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep > 4" ng-disabled="triWizard.prevStepDisabled()" translate="PROJECT.WIZARD.PREV"></md-button>
                    <md-button class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide="triWizard.progress == 100 && triWizard.currentStep >= 4" ng-disabled="triWizard.nextStepDisabled()" translate="PROJECT.WIZARD.NEXT"></md-button>
                    <md-button class="md-accent md-raised" ng-click="vm.saveProject()" ng-show="triWizard.progress == 100 && triWizard.currentStep >= 4 " translate="PROJECT.WIZARD.SEND"></md-button>
                </div>

            </div>
        </div>
    </div>
