<div class="dashboard-container overlay-10 padded-content-page layout layout-column ng-scope">


    <div layout="column" layout-margin layout-md="column">
        <!-- TARJETA PARA BUSCAR PROYECTOS y Agregar TRL-->
            <md-card flex="50" layout-align="center center">
                <md-card-content>
                    <h2 class="text-center" translate>PROJECT.RESULTS.MY_PROJECTS</h2>
                    <h3 class="text-center" translate>PROJECT.RESULTS.INSTRUCTIONS</h3>
                    <md-autocomplete
                            class="margin-bottom-20"
                            ng-disabled="vm.isDisabled"
                            md-no-cache="vm.noCache"
                            md-selected-item="vm.selectedItem"
                            md-search-text-change="vm.searchTextChange(vm.searchText)"
                            md-search-text="vm.searchText"
                            md-selected-item-change="vm.selectedItemChange(item)"
                            md-items="item in vm.querySearch(vm.searchText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="Busca tu proyecto">
                        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-autocomplete>
                </md-card-content>
            </md-card>


            <!-- Panel de Control-->

            <md-card flex="50" layout-align="center center">
                <md-card-content>
                    <h2 class="text-center" ng-show="vm.selectedItem==null" translate>PROJECT.RESULTS.WARNING</h2>
                    <div ng-show="vm.selectedItem!=null">
                        <h2 class="text-center" translate>PROJECT.RESULTS.GENERAL_INFO</h2>
                        <div layout="row" layout-sm="column">
                            <span class="text-center text-bold" translate>PROJECT.RESULTS.TITLE</span><span>: {{vm.selectedItem.titulo}}</span>
                        </div>
                        <div layout="row" layout-sm="column">
                            <span class="text-center text-bold" translate>PROJECT.RESULTS.DESCRIPTION</span><span>: {{vm.selectedItem.descripcion}}</span>
                        </div>

                        <md-checkbox ng-model="showTable" aria-label="Checkbox 1">
                            <span ng-show="showTable" translate>PROJECT.RESULTS.SHOW_PATENTS</span>
                            <span ng-show="!showTable" translate>PROJECT.RESULTS.SHOW_RESULTS</span>
                        </md-checkbox>

                    </div>
                </md-card-content>
            </md-card>
    </div>

    <div layout="row" layout-md="column" ng-show="vm.selectedItem!=null">
        <md-card flex ng-show="showTable">
            <md-card-content>
                <tri-table class="elements-image-table-example" columns="vm.columns_resultados" contents="vm.selectedItem.resultados" page-size="5"></tri-table>
            </md-card-content>
        </md-card>
        <md-card flex ng-show="!showTable">
            <md-card-content>
                <tri-table class="elements-image-table-example" columns="vm.columns_patentes" contents="vm.selectedItem.patentes" page-size="5"></tri-table>
            </md-card-content>
        </md-card>
    </div>

    <div layout="row" layout-margin layout-md="column" ng-show="vm.selectedItem!=null">
        <md-card flex ng-show="showTable">
            <md-card-content>
                <h2 class="text-center" translate>PROJECT.RESULTS.ADD_RESULTS</h2>
                <form name="agregarResultado">
                    <md-input-container>
                        <label translate>PROJECT.RESULTS.FORM.NAME</label>
                        <input type="text" name="nombre" ng-model="resultado.nombre" required>
                        <div ng-messages="agregarResultado.nombre.$error">
                            <div ng-message="required">
                                <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label translate>PROJECT.RESULTS.FORM.DESCRIPTION</label>
                        <input type="text" name="descripcion" ng-model="resultado.descripcion" required>
                        <div ng-messages="agregarResultado.descripcion.$error">
                            <div ng-message="required">
                                <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label translate>PROJECT.RESULTS.FORM.KEYWORDS</label>
                        <input type="text" name="palabras_clave" ng-model="resultado.palabras_clave" required>
                        <div ng-messages="agregarResultado.palabras_clave.$error">
                            <div ng-message="required">
                                <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label translate>PROJECT.RESULTS.FORM.APPLICATION_FIELD</label>
                        <input type="text" name="area_aplicacion" ng-model="resultado.area_aplicacion" required>
                        <div ng-messages="agregarResultado.area_aplicacion.$error">
                            <div ng-message="required">
                                <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label translate>PROJECT.RESULTS.FORM.TYPE</label>
                        <md-select ng-model="ctrl.userState" name="tipo" required>
                            <md-option ng-repeat="tipo in vm.tipos" value="{{tipo.value}}">
                                {{tipo.display}}
                            </md-option>
                        </md-select>

                        <div ng-messages="agregarResultado.tipo.$error">
                            <div ng-message="required">
                                <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                            </div>
                        </div>
                    </md-input-container>
                    <label class="placeholder" translate>PROJECT.RESULTS.FORM.DATE</label>
                    <md-datepicker ng-model="resultado.fecha" md-placeholder="Introduce una fecha" required></md-datepicker>
                    <md-input-container>
                        <label translate>PROJECT.RESULTS.FORM.PROGRESS</label>
                        <input type="text" name="avance" ng-model="resultado.avance" required>
                        <div ng-messages="agregarResultado.avance.$error">
                            <div ng-message="required">
                                <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label translate>PROJECT.RESULTS.FORM.STATUS</label>
                        <md-select ng-model="ctrl.status" name="status" required>
                            <md-option ng-repeat="status in vm.status" value="{{status.value}}">
                                {{status.display}}
                            </md-option>
                        </md-select>
                        <div ng-messages="agregarResultado.status.$error">
                            <div ng-message="required">
                                <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label translate>PROJECT.RESULTS.FORM.OPERATIONAL_PLAN</label>
                        <input type="text" name="plan_explotacion" ng-model="resultado.plan_explotacion" required>
                        <div ng-messages="agregarResultado.plan_explotacion.$error">
                            <div ng-message="required">
                                <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-button ng-disabled="agregarResultado.$invalid" ng-click="addResult()" class="md-raised" ng-class="['md-primary','md-hue-2']" aria-label="warn button" ><span translate>PROJECT.RESULTS.ADD_RESULT</span></md-button>

                </form>
            </md-card-content>
        </md-card>
        <md-card flex ng-show="!showTable">
            <md-card-content>
                <h2 class="text-center" translate>PROJECT.RESULTS.ADD_PATENTS</h2>

                <form name="agregarPatente">
                    <md-input-container>
                        <label translate>PROJECT.RESULTS.TITLE</label>
                        <input type="text" name="titulo" ng-model="patente.titulo" required>
                        <div ng-messages="agregarPatente.titulo.$error">
                            <div ng-message="required">
                                <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label translate>PROJECT.RESULTS.FORM.SUMMARY</label>
                        <input type="text" name="resumen" ng-model="patente.resumen" required>
                        <div ng-messages="agregarPatente.resumen.$error">
                            <div ng-message="required">
                                <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                            </div>
                        </div>
                    </md-input-container>

                    <span class="placeholder" translate>PROJECT.RESULTS.FORM.REGISTER_DATE</span>
                    <md-datepicker ng-model="patente.fecha_registro" md-placeholder="Introduce una fecha" required></md-datepicker><br></br>

                    <span class="placeholder" translate>PROJECT.RESULTS.FORM.APPROVAL_DATE</span>
                    <md-datepicker ng-model="patente.fecha_aprobacion" md-placeholder="Introduce una fecha" required></md-datepicker>
                    <md-input-container>
                        <label translate>PROJECT.RESULTS.FORM.REGISTER_NUMBER</label>
                        <input type="text" name="numero_registro" ng-model="patente.numero_registro" required>
                        <div ng-messages="agregarPatente.numero_registro.$error">
                            <div ng-message="required">
                                <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label translate>PROJECT.RESULTS.FORM.PROTECTED_COUNTRIES</label>
                        <input type="text" name="paises_proteccion" ng-model="patente.paises_proteccion" required>
                        <div ng-messages="agregarPatente.paises_proteccion.$error">
                            <div ng-message="required">
                                <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label translate>PROJECT.RESULTS.FORM.OPERATIONAL_PLAN</label>
                        <input type="text" name="plan_explotacion" ng-model="patente.plan_explotacion" required>
                        <div ng-messages="agregarPatente.plan_explotacion.$error">
                            <div ng-message="required">
                                <span translate>PROJECT.WIZARD.REQUIRED-FIELD</span>
                            </div>
                        </div>
                    </md-input-container>
                    <md-button ng-disabled="agregarPatente.$invalid" ng-click="addPatent()" class="md-raised" ng-class="['md-primary','md-hue-2']" aria-label="warn button" ><span translate>PROJECT.RESULTS.ADD_PATENT</span></md-button>

                </form>

            </md-card-content>
        </md-card>
    </div>
</div>