md-dialog(aria-label='Información detallada de solicitud', ng-cloak='')
    form
        md-toolbar
            .md-toolbar-tools
                h2.md-display-2 Información detallada de solicitud
                span(flex='')
                md-button.md-icon-button(ng-click='cancel()')
                    md-icon( aria-label='Close dialog')
        md-dialog-content
            .md-dialog-content
                 table
                     tr
                        td
                         h4.md-headline Fecha de registro:
                        td
                         p.md-headline  &nbsp {{vm.solicitud.FechaRegistro}}
                     tr
                         td
                             h4.md-headline Titulo:
                         td
                             p.md-headline  &nbsp {{vm.solicitud.Titulo}}
                     tr
                         td
                             h4.md-headline Programa de Fondeo:
                         td
                             p.md-headline  &nbsp {{vm.solicitud.ProgramaFondeo}}
                     tr
                         td
                             h4.md-headline Convocatoria:
                         td
                             p.md-headline  &nbsp {{vm.solicitud.Convocatoria}}
                     tr
                         td
                             h4.md-headline Modalidad:
                         td
                             p.md-headline  &nbsp {{vm.solicitud.Modalidad}}
                     tr
                         td
                             h4.md-headline TRL Inicial:
                         td
                             p.md-headline  &nbsp {{vm.solicitud.TRLInicial}}
                     tr
                         td
                             h4.md-headline TRL Final:
                         td
                             p.md-headline  &nbsp {{vm.solicitud.TRLFinal}}
                     tr
                         td
                             h4.md-headline Monto solicitado:
                         td
                             p.md-headline  &nbsp {{vm.solicitud.MontoSolicitado}}
                     tr
                         td
                             h4.md-headline Parque tecnológico:
                         td
                             p.md-headline  &nbsp {{vm.solicitud.Parque}}
        md-dialog-actions(layout='row')
            span(flex='')
            md-button(ng-click="vm.answer(0)")
                | Cancelar
            md-button(ng-click="vm.answer(1)", style='margin-right:20px;')
                | Eliminar
