<md-card flex >
    <!-- Titulo del toolbar -->
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span translate>PROJECT.VALIDA.TITLE</span>
        </div>
    </md-toolbar>
    <!--Busqueda de Programas de Fondeo-->
</md-card>
<md-card flex>
    <div layout="row" layout-md="column">

        <md-card flex layout-padding>
            <md-card-content>

                <h3 class="text-center" translate>PROJECT.VALIDA.SELECTPROGRAM</h3>
                <md-autocomplete
                        class="margin-bottom-20"
                        ng-disabled="vm.isDisabled"
                        md-no-cache="vm.noCache"
                        md-selected-item="vm.selectedItem"
                        md-search-text-change="vm.searchTextChange(vm.searchText)"
                        md-search-text="vm.searchText"
                        md-selected-item-change="vm.selectedItemChange(item)"
                        md-items="item in vm.querySearch(vm.searchText)"
                        md-item-text="item.titulo"
                        md-min-length="0"
                        placeholder="Selecciona el Programa de Fondeo a revisar">
                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.titulo}}, Publico Objetivo: {{item.publicoObjetivo}}, Fondo Total:{{item.fondototal}}</span>
                </md-autocomplete>

            </md-card-content>
        </md-card>
    </div>
    <!-- TARJETA PARA Mostrar su informacion-->
    <div layout="row" layout-sm="column" layout-md="column" ng-show="vm.selectedItem!=null">
        <md-card flex layout="column">
            <md-card-content>
                <h2 translate class="text-center"><PROJECT class="INSCRIPTION INFOPROGRAM"></PROJECT></h2>
                <md-list>

                    <div class="md-list-item-text" >
                        <h3>id: {{vm.selectedItem.id}}</h3>
                        <h3>Titulo: {{vm.selectedItem.titulo}}</h3>
                        <h4>Publico Objetivo: {{vm.selectedItem.publicoObjetivo}}</h4>
                        <h4>Fondo Total: {{vm.selectedItem.fondototal}}</h4>
                        <h4>Criterios de Elegibilidad: {{vm.selectedItem.criterios}}</h4>

                    </div>

                    <md-divider></md-divider>
                </md-list>

            </md-card-content>
        </md-card>
    </div>
    <div layout="row" layout-sm="column" layout-md="column" ng-show="vm.selectedItem!=null">
    <!-- Cabecera de la md table-->
        <md-table-container>
             <table md-table="" md-row-select="" ng-model="vm.selectedSolicitudes">
                <thead md-head="" md-order="vm.query.order">
                <tr md-row="md-row">
                     <th md-column="md-column" md-order-by="id"><span>id</span></th>
                     <th md-column="md-column" md-order-by="proyecto"><span>Proyecto</span></th>
                    <th md-column="md-column" md-order-by="fondo"><span>Programa de Fondeo</span></th>
                    <th md-column="md-column" md-order-by="convocatoria"><span>Convocatoria</span></th>
                    <th md-column="md-column" md-order-by="modalidad"><span>Modalidad</span></th>
                    <th md-column="md-column" md-order-by="tecnopark"><span>Parque Tecnologico</span></th>
                    <th md-column="md-column" md-order-by="montosolicitado"><span>Monto Solicitado</span></th>
                    <th md-column="md-column" md-order-by="montoApoyado"><span>Monto Otorgado</span></th>
                    <th md-column="md-column" md-order-by="trlInicial"><span>TRL Inicial</span></th>
                    <th md-column="md-column" md-order-by="trlFinal"><span>TRL Final</span></th>
                    <th md-column="md-column" md-order-by="fechaRegistro"><span>Fecha de Registro</span></th>
                    <th md-column="md-column" md-order-by="fechaCierre"><span>Fecha de Culminacion</span></th>
                    <th md-column="md-column" md-order-by="resultado"><span>Resultado Entregado</span></th>
                     <th md-column="md-column" md-order-by="validado"><span>Estado Actual</span></th>
                 </tr>
                </thead>
            <!-- Cuerpo de la tabla -->
                <tbody md-body="md-body">
                 <tr md-row="md-row" md-select="solicitud" md-select-id="{{solicitud.id}}" md-auto-select="md-auto-select" md-on-select="vm.validando" ng-repeat="solicitud in vm.solicitudes | orderBy:vm.query.order">
                    <td md-cell="md-cell">{{solicitud.id}}</td>
                    <td md-cell="md-cell">{{solicitud.proyecto}}</td>
                    <td md-cell="md-cell">{{solicitud.fondo}}</td>
                    <td md-cell="md-cell">{{solicitud.convocatoria}}</td>
                    <td md-cell="md-cell">{{solicitud.modalidad}}</td>
                    <td md-cell="md-cell">{{solicitud.tecnopark}}</td>
                    <td md-cell="md-cell">{{solicitud.montosolicitado}}</td>
                    <td md-cell="md-cell">{{solicitud.montoApoyado}}</td>
                    <td md-cell="md-cell">{{solicitud.trlInicial}}</td>
                    <td md-cell="md-cell">{{solicitud.trlFinal}}</td>
                    <td md-cell="md-cell">{{solicitud.fechaRegistro}}</td>
                    <td md-cell="md-cell">{{solicitud.fechaCierre}}</td>
                    <td md-cell="md-cell">{{solicitud.resultado}}</td>
                    <td md-cell="md-cell">{{solicitud.validado}}</td>
                  </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-divider></md-divider>
    </div>
    </md-card-content>
    </md-card>
    <div>
        <div>
            <md-card flex ng-show="vm.showValidate">
                <img src="assets/images/backgrounds/material-backgrounds-shorts/mb-bg-01.jpg" alt="Card Image">
                <div layout="column">
                    <div layout="row" layout-align="center center" layout-sm="column">
                        <md-card-content>

                            <h2 translate>PROJECT.INSCRIPTION.FIELDS</h2>
                            <form name="agregarSolicitud" novalidate>
                                <md-input-container>
                                    <label translate>PROJECT.INSCRIPTION.STATUS</label>
                                    <md-select  ng-model="estados" required name="estados">
                                        <md-option ng-repeat="status in vm.estados" value="{{status.id}}">
                                            {{status.value}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container>
                                    <label translate>PROJECT.INSCRIPTION.MOUNTBRING</label>
                                    <input ng-model="montoApoyado" required name="montoApoyado">
                                </md-input-container>

                                <md-button ng-disabled="registrarSolicitud.$invalid" ng-click="addItem()" class="md-raised" ng-class="['md-primary','md-hue-2']" aria-label="warn button" ><span translate>PROJECT.INSCRIPTION.VALIDATE</span></md-button>
                            </form>
                        </md-card-content>
                    </div>
                </div>
            </md-card>
        </div>
    </div>
<md-divider></md-divider>

