<div class="dashboard-container overlay-10 padded-content-page layout layout-column ng-scope" class="full-image-background mb-bg-fb-05 overlay-40">

    <div class="layout layout-column layout-margin layout-sm layout-sm-column">
        <div flex="100" layout="row">
            <md-card flex>
                <img src="assets/images/backgrounds/material-backgrounds-shorts/mb-bg-01.jpg" alt="Card Image">
                <div layout="column">
                    <div layout="row" layout-md="row">
                        <md-card-content>
                            <h2 translate>PERSONAS.WIZARD.TITLE</h2>
                            <form name="DatosP" novalidate>
                                <md-input-container class="md-icon-float md-block">
                                    <!-- Use floating label instead of placeholder -->
                                    <label>Nombre</label>
                                    <ng-md-icon icon="person"></ng-md-icon>
                                    <input name="Nombre" ng-model="vm.Persona.Nombre" type="text" ng-required="true">
                                    <div ng-messages="DatosP.Nombre.$error" multiple md-auto-hide="true">
                                        <div ng-message="required">Este Campo es Requerido</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block">
                                    <!-- Use floating label instead of placeholder -->
                                    <label>Apellido Paterno</label>
                                    <ng-md-icon icon="person"></ng-md-icon>
                                    <input name="ApellidoP" ng-model="vm.Persona.ApellidoP" type="text" ng-required="true">
                                    <div ng-messages="DatosP.ApellidoP.$error" multiple md-auto-hide="true">
                                        <div ng-message="required">Este Campo es Requerido</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block">
                                    <!-- Use floating label instead of placeholder -->
                                    <label>Apellido Materno</label>
                                    <ng-md-icon icon="person"></ng-md-icon>
                                    <input name="ApellidoM" ng-model="vm.Persona.ApellidoM" type="text" ng-required="true">
                                    <div ng-messages="DatosP.ApellidoM.$error" multiple md-auto-hide="true">
                                        <div ng-message="required">Este Campo es Requerido</div>
                                    </div>
                                </md-input-container>
                            </form>
                        </md-card-content>
                    </div>
                    <div class="button-toolbar" layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ng-show="vm.Persona.id==null"  ng-disabled="!DatosP.$valid" ng-click="vm.registrarPersona()"><span translate>PERSONAS.WIZARD.SAVE</span></md-button>
                        <md-button class="md-raised md-primary" ng-show="vm.Persona.id!=null" ng-disabled="!DatosP.$valid" ng-click="vm.registrarPersona()"><span translate>PERSONAS.WIZARD.UPDATE</span></md-button>
                    </div>
                </div>
            </md-card>
            <md-card flex ng-show="vm.showContacto">
                <img src="assets/images/backgrounds/material-backgrounds-shorts/mb-bg-01.jpg" alt="Card Image">
                <div layout="column">
                    <div layout="row" layout-md="row">
                        <md-card-content>
                    <h2 translate>PERSONAS.WIZARD.TITLE3</h2>
                    <form name="Contacto" novalidate>
                        <md-input-container class="md-icon-float md-block">
                            <label for="email"translate>PERSONAS.WIZARD.MAIL</label>
                            <ng-md-icon icon="email"></ng-md-icon>
                            <input id="email" label="email" name="email" type="EMAIL" ng-model="vm.Contacto.CorreoElectronico" required/>
                            <div ng-messages="Contacto.email.$error">
                                <div ng-message="required">
                                    <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                </div>
                                <div ng-message="email">
                                    Introduce una direccion de Correo Valida.
                                </div>

                            </div>
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label for="WORKPHONE"translate>PERSONAS.WIZARD.WORKPHONE</label>
                            <md-icon md-font-icon="zmdi zmdi-phone"></md-icon>
                            <input id="WORKPHONE" label="WORKPHONE" name="WORKPHONE" type="text" ng-model="vm.Contacto.TelefonoOficina" required/>
                            <div ng-messages="Contacto.WORKPHONE.$error">
                                <div ng-message="required">
                                    <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label for="LOCALPHONE"translate>PERSONAS.WIZARD.LOCALPHONE</label>
                            <md-icon md-font-icon="zmdi zmdi-account-box-phone"></md-icon>
                            <input id="LOCALPHONE" label="LOCALPHONE" name="LOCALPHONE" type="text" ng-model="vm.Contacto.TelefonoLocal" required/>
                            <div ng-messages="Contacto.LOCALPHONE.$error">
                                <div ng-message="required">
                                    <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label for="MOBILEPHONE"translate>PERSONAS.WIZARD.MOBILEPHONE</label>
                            <md-icon md-font-icon="zmdi zmdi-smartphone-android"></md-icon>
                            <input flex="40" id="MOBILEPHONE" label="MOBILEPHONE" name="MOBILEPHONE" type="text" ng-model="vm.Contacto.TelefonoCelular"  ng-disabled="inputDisabledMOBILEPHONE"/>
                            <div ng-messages="Contacto.MOBILEPHONE.$error">
                                <div ng-message="required">
                                    <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                </div>
                            </div>

                        </md-input-container>
                        <md-input-container class="md-icon-float md-block">
                            <label for="FAX"translate>PERSONAS.WIZARD.FAX</label>
                            <md-icon md-font-icon="zmdi zmdi-scanner"></md-icon>
                            <input flex="40" id="FAX" label="FAX" name="FAX" type="text" ng-model="vm.Contacto.Fax"/>
                            <div ng-messages="Contacto.FAX.$error">
                                <div ng-message="required">
                                    <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                </div>
                                <div ng-message="number">
                                    Introduce un telefono valido.
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <label for="WEBPAGE"translate>PERSONAS.WIZARD.WEBPAGE</label>
                            <ng-md-icon icon="language"></ng-md-icon>
                            <input flex="40" id="WEBPAGE" label="WEBPAGE" name="WEBPAGE" type="text" ng-model="vm.Contacto.PaginaWeb"/>
                            <div ng-messages="Contacto.WEBPAGE.$error">
                                <div ng-message="required">
                                    <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                </div>
                            </div>
                        </md-input-container>
                        <div class="button-toolbar" layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary" ng-show="vm.Persona.id==null" ng-click="vm.registrarContacto()" ng-disabled="Contacto.$invalid" ><span translate>PERSONAS.WIZARD.SAVE</span></md-button>
                            <md-button class="md-raised md-primary" ng-show="vm.Persona.id!=null" ng-click="vm.registrarContacto()" ng-disabled="Contacto.$invalid" ><span translate>PERSONAS.WIZARD.UPDATE</span></md-button>
                        </div>
                    </form>
                </md-card-content>
                    </div>
                </div>
            </md-card>
        </div>
    </div>
</div>
</div>

        <!--
        <div flex="100" layout="row">
        <md-card flex="50">
            <img src="assets/images/backgrounds/material-backgrounds-shorts/mb-bg-01.jpg" alt="Card Image">
            <div layout="row" layout-md="row">

                <md-card-content>
                    <h2 translate>PERSONAS.WIZARD.TITLE3</h2>
                    <form name="Contacto" novalidate>
                        <md-input-container>
                            <md-icon md-font-icon="zmdi zmdi-email"></md-icon></br>
                            <label for="email"translate>PERSONAS.WIZARD.MAIL</label>
                            <input id="email" label="email" name="email" type="EMAIL" ng-model="user.email" required/>
                            <div ng-messages="Contacto.email.$error">
                                <div ng-message="required">
                                    <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                </div>
                                <div ng-message="email">
                                    Introduce una direccion de Correo Valida.
                                </div>

                            </div>
                        </md-input-container>
                        <md-input-container>
                            <md-icon md-font-icon="zmdi zmdi-phone"></md-icon></br>
                            <label for="WORKPHONE"translate>PERSONAS.WIZARD.WORKPHONE</label>
                            <input id="WORKPHONE" label="WORKPHONE" name="WORKPHONE" type="number" ng-model="user.WORKPHONE" required/>
                            <div ng-messages="Contacto.WORKPHONE.$error">
                                <div ng-message="required">
                                    <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                </div>
                                <div ng-message="number">
                                    Introduce un telefono valido.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container  >
                            <md-icon md-font-icon="zmdi zmdi-account-box-phone"></md-icon></br>
                            <label for="LOCALPHONE"translate>PERSONAS.WIZARD.LOCALPHONE</label>
                            <input id="LOCALPHONE" label="LOCALPHONE" name="LOCALPHONE" type="number" ng-model="user.LOCALPHONE" required/>
                            <div ng-messages="Contacto.LOCALPHONE.$error">
                                <div ng-message="required">
                                    <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                </div>
                                <div ng-message="number">
                                    Introduce un telefono valido.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container  layout="row">

                            <md-icon md-font-icon="zmdi zmdi-smartphone-android"></md-icon></br>
                            <label for="MOBILEPHONE"translate>PERSONAS.WIZARD.MOBILEPHONE</label>
                            <input flex="40" id="MOBILEPHONE" label="MOBILEPHONE" name="MOBILEPHONE" type="number" ng-model="user.MOBILEPHONE"  ng-disabled="inputDisabledMOBILEPHONE"/>
                            <div ng-messages="Contacto.MOBILEPHONE.$error">
                                <div ng-message="required">
                                    <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                </div>
                                <div ng-message="number">
                                    Introduce un telefono valido.
                                </div>
                            </div>

                            <md-switch flex="10" ng-model="inputDisabledMOBILEPHONE">

                            </md-switch>
                            </md>
                        </md-input-container>
                        <md-input-container  layout="row">

                            <md-icon md-font-icon="zmdi zmdi-scanner"></md-icon></br>
                            <label for="FAX"translate>PERSONAS.WIZARD.FAX</label>
                            <input flex="40" id="FAX" label="FAX" name="FAX" type="number" ng-model="user.FAX"  ng-disabled="inputDisabledFAX"/>
                            <div ng-messages="Contacto.FAX.$error">
                                <div ng-message="required">
                                    <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                </div>
                                <div ng-message="number">
                                    Introduce un telefono valido.
                                </div>
                            </div>

                            <md-switch flex="10" ng-model="inputDisabledFAX">

                            </md-switch>
                            </md>
                        </md-input-container>
                        <div class="button-toolbar" layout="row" layout-align="end center">
                            <md-button class="md-primary" ng-disabled="Contacto.$invalid" ><span translate>PERSONAS.WIZARD.SAVE</span></md-button>
                            <md-button><span translate>PERSONAS.WIZARD.CANCEL</span></md-button>
                        </div>
                    </form>
            </div>

        </md-card>
        <md-card flex="50">
            <img src="assets/images/backgrounds/material-backgrounds-shorts/mb-bg-01.jpg" alt="Card Image">
            <div layout="row" layout-md="column">

                <md-card-content>
                    <h2 translate>PERSONAS.WIZARD.TITLE4</h2>

                    <form name="Direccion" novalidate>
                        <md-input-container>
                            <label  translate>PERSONAS.WIZARD.COUNTRY</label>
                            <md-select ng-model="pais" >

                                <md-option ng-repeat="pais in paises" value="{{pais.abbrev}}" ng-model="user.pais" id="pais" name="pais" >
                                    {{pais.abbrev}}
                                </md-option>
                            </md-select>

                        </md-input-container>
                        <md-input-container>
                            <label  translate>PERSONAS.WIZARD.STATE</label>
                            <md-select ng-model="estado" >

                                <md-option ng-repeat="estado in estados" value="{{estado.abbrev}}" ng-model="user.estado" id="estado" name="estado" >
                                    {{estado.abbrev}}
                                </md-option>
                            </md-select>

                        </md-input-container>
                        <md-input-container>
                            <label  translate>PERSONAS.WIZARD.CITY</label>
                            <md-select ng-model="ciudad" >

                                <md-option ng-repeat="ciudad in ciudades" value="{{ciudad.abbrev}}" ng-model="user.ciudad" id="estado" name="estado" >
                                    {{ciudad.abbrev}}
                                </md-option>
                            </md-select>

                        </md-input-container>
                        <md-input-container>
                            <md-icon md-font-icon="zmdi zmdi-pin-drop"></md-icon></br>
                            <label for="Direccion"translate>PERSONAS.WIZARD.ADDRESS</label>
                            <input id="Direccion" label="Direccion" name="Direccion"  type="TEXT" ng-model="user.Direccion" required/>
                            <div ng-messages="Direccion.Direccion.$error">
                                <div ng-message="required">
                                    <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                </div>

                            </div>
                        </md-input-container>
                        <md-input-container>
                            <md-icon md-font-icon="zmdi zmdi-pin-drop"></md-icon></br>
                            <label for="CP"translate>PERSONAS.WIZARD.ZIPCODE</label>
                            <input id="CP" label="CP" name="CP"  type="NUMBER" ng-model="user.CP" required/>
                            <div ng-messages="Direccion.CP.$error">
                                <div ng-message="required">
                                    <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                </div>
                                <div ng-message="number">
                                    Introduce un Codigo Postal valido.
                                </div>
                            </div>
                        </md-input-container>

                        <div class="button-toolbar" layout="row" layout-align="end center">
                            <md-button class="md-primary" ng-disabled="Direccion.$invalid" ><span translate>PERSONAS.WIZARD.SAVE</span></md-button>
                            <md-button><span translate>PERSONAS.WIZARD.CANCEL</span></md-button>
                        </div>
                    </form>
                </md-card-content>

            </div>

        </md-card>
    </div>
        <div flex="100" >
            <md-card flex="100">
                <img src="assets/images/backgrounds/material-backgrounds-shorts/mb-bg-01.jpg" alt="Card Image">
                <div layout="column" layout-md="column">

                    <md-card-content>
                        <h2 translate>PERSONAS.WIZARD.TITLE5</h2>
                        <form name="OtraInf" novalidate>
                            <md-input-container flex="100">
                                <md-icon md-font-icon="zmdi zmdi-google-pages"></md-icon></br>
                                <label for="WEBADDRESS"translate>PERSONAS.WIZARD.WEBADDRESS</label>
                                <input id="WEBADDRESS" label="WEBADDRESS" name="WEBADDRESS" type="text" ng-model="user.WEBADDRESS" required/>
                                <div ng-messages="OtraInf.email.$error">
                                    <div ng-message="required">
                                        <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                    </div>
                            </md-input-container>
                            <md-input-container flex="100">
                                <md-card >
                                <div flex layout="column" layout-wrap>
                                    <md-input-container>
                                        <div text-angular required ng-model="PERSONAS.WIZARD.WEBADDRESS_DES" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                        <label translate>PERSONAS.WIZARD.WEBADDRESS_DES</label>
                                        <md-divider></md-divider>
                                    </md-input-container>
                                </div>
                                </md-card>
                            </md-input-container>
                            <md-input-container flex="100">
                                <md-card >
                                    <div flex layout="column" layout-wrap>
                                        <md-input-container>
                                            <div text-angular required ng-model="PERSONAS.WIZARD.NOTES" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                            <label translate>PERSONAS.WIZARD.NOTES</label>
                                            <md-divider></md-divider>
                                        </md-input-container>
                                    </div>
                                </md-card>
                            </md-input-container>
                            <div class="button-toolbar" layout="row" layout-align="end center">
                                <md-button class="md-primary" ng-disabled="OtraInf.$invalid" ><span translate>PERSONAS.WIZARD.SAVE</span></md-button>
                                <md-button><span translate>PERSONAS.WIZARD.CANCEL</span></md-button>
                            </div>
                              </form>
                                </md-card-content>
                                </div>



                    </div>
        </div>

    </div>

 </div>