<div class="dashboard-container overlay-10 padded-content-page layout layout-column ng-scope" class="full-image-background mb-bg-fb-05 overlay-40">

    <div class="layout layout-column layout-margin layout-sm layout-sm-column">
        <div flex layout="row" layout-sm="column" layout-md="column">
            <md-card flex>
                <img src="assets/images/backgrounds/material-backgrounds-shorts/mb-bg-01.jpg" alt="Card Image">
                <div layout="column">
                    <div layout="row" layout-align="center center" layout-sm="column">
                        <md-card-content>
                            <h2 translate>PERSONAS.WIZARD.TITLE</h2>
                            <form name="DatosP" novalidate>
                                <md-input-container class="md-icon-float md-block">
                                    <!-- Use floating label instead of placeholder -->
                                    <label>Nombre</label>
                                    <ng-md-icon icon="person"></ng-md-icon>
                                    <input name="Nombre" ng-model="vm.Persona.Nombre" type="text" ng-required="true">
                                    <div ng-messages="DatosP.Nombre.$error" multiple md-auto-hide="true">
                                        <div ng-message="required">Este Campo es Requerido</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block">
                                    <!-- Use floating label instead of placeholder -->
                                    <label>Apellido Paterno</label>
                                    <ng-md-icon icon="person"></ng-md-icon>
                                    <input name="ApellidoP" ng-model="vm.Persona.ApellidoP" type="text" ng-required="true">
                                    <div ng-messages="DatosP.ApellidoP.$error" multiple md-auto-hide="true">
                                        <div ng-message="required">Este Campo es Requerido</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block">
                                    <!-- Use floating label instead of placeholder -->
                                    <label>Apellido Materno</label>
                                    <ng-md-icon icon="person"></ng-md-icon>
                                    <input name="ApellidoM" ng-model="vm.Persona.ApellidoM" type="text" ng-required="true">
                                    <div ng-messages="DatosP.ApellidoM.$error" multiple md-auto-hide="true">
                                        <div ng-message="required">Este Campo es Requerido</div>
                                    </div>
                                </md-input-container>
                            </form>
                        </md-card-content>
                    </div>
                    <div class="button-toolbar" layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ng-show="vm.Persona.id==null"  ng-disabled="!DatosP.$valid" ng-click="vm.registrarPersona()"><span translate>PERSONAS.WIZARD.SAVE</span></md-button>
                        <md-button class="md-raised md-primary" ng-show="vm.Persona.id!=null" ng-disabled="!DatosP.$valid" ng-click="vm.registrarPersona()"><span translate>PERSONAS.WIZARD.UPDATE</span></md-button>
                    </div>
                </div>
            </md-card>
            <md-card flex ng-show="vm.showContacto">
                <img src="assets/images/backgrounds/material-backgrounds-shorts/mb-bg-01.jpg" alt="Card Image">
                <div layout="column">
                    <div layout="row" layout-align="center center" layout-sm="column">
                        <md-card-content>
                            <h2 translate>PERSONAS.WIZARD.TITLE3</h2>
                            <form name="Contacto" novalidate>
                                <md-input-container class="md-icon-float md-block">
                                    <label for="email"translate>PERSONAS.WIZARD.MAIL</label>
                                    <ng-md-icon icon="email"></ng-md-icon>
                                    <input id="email" label="email" name="email" type="EMAIL" ng-model="vm.Contacto.CorreoElectronico" required/>
                                    <div ng-messages="Contacto.email.$error">
                                        <div ng-message="required">
                                            <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                        </div>
                                        <div ng-message="email">
                                            Introduce una direccion de Correo Valida.
                                        </div>

                                    </div>
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block">
                                    <label for="WORKPHONE"translate>PERSONAS.WIZARD.WORKPHONE</label>
                                    <md-icon md-font-icon="zmdi zmdi-phone"></md-icon>
                                    <input id="WORKPHONE" label="WORKPHONE" name="WORKPHONE" type="text" ng-model="vm.Contacto.TelefonoOficina" required/>
                                    <div ng-messages="Contacto.WORKPHONE.$error">
                                        <div ng-message="required">
                                            <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block">
                                    <label for="LOCALPHONE"translate>PERSONAS.WIZARD.LOCALPHONE</label>
                                    <md-icon md-font-icon="zmdi zmdi-account-box-phone"></md-icon>
                                    <input id="LOCALPHONE" label="LOCALPHONE" name="LOCALPHONE" type="text" ng-model="vm.Contacto.TelefonoLocal" required/>
                                    <div ng-messages="Contacto.LOCALPHONE.$error">
                                        <div ng-message="required">
                                            <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block">
                                    <label for="MOBILEPHONE"translate>PERSONAS.WIZARD.MOBILEPHONE</label>
                                    <md-icon md-font-icon="zmdi zmdi-smartphone-android"></md-icon>
                                    <input flex="40" id="MOBILEPHONE" label="MOBILEPHONE" name="MOBILEPHONE" type="text" ng-model="vm.Contacto.TelefonoCelular"  ng-disabled="inputDisabledMOBILEPHONE"/>
                                    <div ng-messages="Contacto.MOBILEPHONE.$error">
                                        <div ng-message="required">
                                            <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                        </div>
                                    </div>

                                </md-input-container>
                                <md-input-container class="md-icon-float md-block">
                                    <label for="FAX"translate>PERSONAS.WIZARD.FAX</label>
                                    <md-icon md-font-icon="zmdi zmdi-scanner"></md-icon>
                                    <input flex="40" id="FAX" label="FAX" name="FAX" type="text" ng-model="vm.Contacto.Fax"/>
                                    <div ng-messages="Contacto.FAX.$error">
                                        <div ng-message="required">
                                            <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                        </div>
                                        <div ng-message="number">
                                            Introduce un telefono valido.
                                        </div>
                                    </div>
                                </md-input-container>

                                <md-input-container class="md-icon-float md-block">
                                    <label for="WEBPAGE"translate>PERSONAS.WIZARD.WEBPAGE</label>
                                    <ng-md-icon icon="language"></ng-md-icon>
                                    <input flex="40" id="WEBPAGE" label="WEBPAGE" name="WEBPAGE" type="text" ng-model="vm.Contacto.PaginaWeb"/>
                                    <div ng-messages="Contacto.WEBPAGE.$error">
                                        <div ng-message="required">
                                            <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                        </div>
                                    </div>
                                </md-input-container>
                                <div class="button-toolbar" layout="row" layout-align="end center">
                                    <md-button class="md-raised md-primary" ng-show="vm.Persona.id==null" ng-click="vm.registrarContacto()" ng-disabled="Contacto.$invalid" ><span translate>PERSONAS.WIZARD.SAVE</span></md-button>
                                    <md-button class="md-raised md-primary" ng-show="vm.Persona.id!=null" ng-click="vm.registrarContacto()" ng-disabled="Contacto.$invalid" ><span translate>PERSONAS.WIZARD.UPDATE</span></md-button>
                                </div>
                            </form>
                        </md-card-content>
                    </div>
                </div>
            </md-card>
            <md-card flex ng-show="vm.showDireccion">
                <img src="assets/images/backgrounds/material-backgrounds-shorts/mb-bg-01.jpg" alt="Card Image">
                <div layout="row" layout-md="column">

                    <md-card-content>
                        <h2 translate>PERSONAS.WIZARD.TITLE4</h2>

                        <form name="Direccion" novalidate>
                            <md-input-container>
                                <label  translate>PERSONAS.WIZARD.COUNTRY</label>
                                <md-select ng-model="vm.selectedPais" name="pais" md-on-close="vm.getEstados()">

                                    <md-option ng-repeat="pais in vm.paises" value="{{pais.id}}">
                                        {{pais.Nombre}}
                                    </md-option>
                                </md-select>

                            </md-input-container>
                            <md-input-container>
                                <label  translate>PERSONAS.WIZARD.STATE</label>
                                <md-select ng-model="vm.selectedEstado" name="estado"  md-on-close="vm.getCiudades()" ng-disabled="vm.estados==null">
                                    <md-option ng-repeat="estado in vm.estados" value="{{estado.id}}">
                                        {{estado.Nombre}}
                                    </md-option>
                                </md-select>

                            </md-input-container>
                            <md-input-container>
                                <label  translate>PERSONAS.WIZARD.CITY</label>
                                <md-select ng-model="vm.Direccion.idMunicipio"  ng-disabled="vm.ciudades==null" required >
                                    <md-option ng-repeat="ciudad in vm.ciudades" value="{{ciudad.id}}">
                                        {{ciudad.Nombre}}
                                    </md-option>
                                </md-select>

                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <label for="Calle"translate>PERSONAS.WIZARD.ADDRESS</label>
                                <ng-md-icon icon="pin_drop"></ng-md-icon>
                                <input id="Calle" label="Calle" name="Calle"  type="TEXT" ng-model="vm.Direccion.Calle" required/>
                                <div ng-messages="Direccion.Calle.$error">
                                    <div ng-message="required">
                                        <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                    </div>

                                </div>
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <label for="Colonia"translate>PERSONAS.WIZARD.NEIGHBOURHOOD</label>
                                <ng-md-icon icon="pin_drop"></ng-md-icon>
                                <input id="Colonia" label="Colonia" name="Colonia"  type="TEXT" ng-model="vm.Direccion.Colonia" required/>
                                <div ng-messages="Direccion.Colonia.$error">
                                    <div ng-message="required">
                                        <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                    </div>

                                </div>
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <label for="NumExt"translate>PERSONAS.WIZARD.EXT_NUMBER</label>
                                <ng-md-icon icon="pin_drop"></ng-md-icon>
                                <input id="NumExt" label="NumExt" name="NumExt"  type="TEXT" ng-model="vm.Direccion.NumExt" required/>
                                <div ng-messages="Direccion.NumExt.$error">
                                    <div ng-message="required">
                                        <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                    </div>

                                </div>
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <label for="NumInt"translate>PERSONAS.WIZARD.INT_NUMBER</label>
                                <ng-md-icon icon="pin_drop"></ng-md-icon>
                                <input id="NumInt" label="NumInt" name="NumInt"  type="TEXT" ng-model="vm.Direccion.NumInt" required/>
                                <div ng-messages="Direccion.NumInt.$error">
                                    <div ng-message="required">
                                        <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                    </div>

                                </div>
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <label for="CP"translate>PERSONAS.WIZARD.ZIPCODE</label>
                                <ng-md-icon icon="pin_drop"></ng-md-icon>
                                <input id="CP" label="CP" name="CP"  type="text" ng-model="vm.Direccion.CP" required/>
                                <div ng-messages="Direccion.CP.$error">
                                    <div ng-message="required">
                                        <span translate>PERSONAS.WIZARD.REQUIRED-FIELD</span>
                                    </div>
                                    <div ng-message="number">
                                        Introduce un Codigo Postal valido.
                                    </div>
                                </div>
                            </md-input-container>

                            <div class="button-toolbar" layout="row" layout-align="end center">
                                <md-button class="md-raised md-primary" ng-show="vm.Direccion.id==null" ng-click="vm.registrarDireccion()" ng-disabled="Direccion.$invalid" ><span translate>PERSONAS.WIZARD.SAVE</span></md-button>
                                <md-button class="md-raised md-primary" ng-show="vm.Direccion.id!=null" ng-click="vm.registrarDireccion()" ng-disabled="Direccion.$invalid" ><span translate>PERSONAS.WIZARD.UPDATE</span></md-button>
                            </div>
                        </form>
                    </md-card-content>

                </div>

            </md-card>
        </div>
    </div>
</div>

