

<div layout="column" layout-align="center center" class="full-image-background mb-bg-fb-02 overlay-40">


    <div layout="row" layout-align="center center">
        <p flex="70"  flex-sm="90" class="md-headline font-weight-300 text-center text-light" translate>FONDEOS.CALL.INTRO</p>
    </div>

    <div flex layout="row" layout-align="center center" layout-fill>
        <div flex="80" class="md-whiteframe-z1 margin-bottom-100" layout="column" tri-wizard>
            <md-toolbar class="md-primary">
                <div flex class="md-toolbar-tools" layout="row" layout-align="space-between center">
                    <h2 translate>FONDEOS.CALL.TITLE</h2><h2> {{triWizard.progress}}% <span translate>FONDEOS.WIZARD.COMPLETED</span></h2>
                </div>
                <md-progress-linear class="md-accent padding-bottom-10" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>
            </md-toolbar>
            <md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height md-stretch-tabs="always">
                <md-tab id="info">
                    <md-tab-label>
                        <span class="oxy-step-label">1</span>
                        <span translate>FONDEOS.CALL.GENERAL</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="projectInfo" tri-wizard-form novalidate>
                                <div layout="column" flex>
                                    <md-input-container>
                                        <label translate>FONDEOS.CALL.NAME</label>
                                        <input name="titulo" required type="text" ng-model="fondeo.titulo">
                                        <div ng-messages="projectInfo.titulo.$error">
                                            <div ng-message when="required">
                                                <span translate>FONDEOS.WIZARD.REQUIRED-FIELD</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container flex="100" layout="row">
                                        <div flex="50">
                                        <label translate>FONDEOS.CALL.BEGIN_DATE_CALL</label>
                                        <md-datepicker ng-enabled="call_begin==null" ng-model="call_begin"></md-datepicker>
                                        <div ng-messages="projectInfo.descripcion.$error">
                                            <div ng-message when="required">
                                                <span translate>FONDEOS.WIZARD.REQUIRED-FIELD</span>
                                            </div>
                                        </div>
                                        </div>
                                        <div flex="50">
                                        <label translate>FONDEOS.CALL.END_DATE_CALL</label>
                                        <md-datepicker ng-enabled="call_begin==null" ng-model="call_end"></md-datepicker>
                                        <div ng-messages="projectInfo.descripcion.$error">
                                            <div ng-message when="required">
                                                <span translate>FONDEOS.WIZARD.REQUIRED-FIELD</span>
                                            </div>
                                        </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate>FONDEOS.CALL.MAX_AMOUNT</label>
                                        <textarea name="target" required ng-model="fondeo.maxAmount" md-maxlength="15"></textarea>
                                        <div ng-messages="projectInfo.descripcion.$error">
                                            <div ng-message when="required">
                                                <span translate>FONDEOS.WIZARD.REQUIRED-FIELD</span>
                                            </div>
                                        </div>
                                    </md-input-container>

                                </div>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="fondeoT" ng-disabled="projectInfo.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">2</span>
                        <span translate>FONDEOS.CALL.REQUERIMENTS</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="fondeoCallRequeriments" tri-wizard-form>
                                <div flex layout="column" layout-wrap>
                                    <md-input-container>
                                        <div text-angular required ng-model="fondeo.callreq" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                        <label translate>FONDEOS.FEATURES.CLICK_TO_WRITE</label>
                                        <md-divider></md-divider>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="aims" ng-disabled="projectInfo.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">3</span>
                        <span translate>FONDEOS.CALL.EVALUATION</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="fondeoEvaluation" tri-wizard-form>
                                <md-input-container>
                                    <div text-angular required ng-model="fondeo.evaluation" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                    <label translate>FONDEOS.FEATURES.CLICK_TO_WRITE</label>
                                    <md-divider></md-divider>
                                </md-input-container>

                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>

            </md-tabs>



            <div class="wizard-navbar" layout-fill layout-padding layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep > 2" ng-disabled="triWizard.prevStepDisabled()" translate="FONDEOS.WIZARD.PREV"></md-button>
                <md-button class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide="triWizard.progress == 100 && triWizard.currentStep >= 2" ng-disabled="triWizard.nextStepDisabled()" translate="FONDEOS.WIZARD.NEXT"></md-button>
                <md-button class="md-accent md-raised" ng-click="triWizard.currentStep = 2" ng-show="triWizard.progress == 100 && triWizard.currentStep >= 2 " translate="FONDEOS.WIZARD.SEND"></md-button>
            </div>
        </div>
    </div>

<!-- wizard-->


</div>
