html
    body
        .dashboard-container.overlay-10.padded-content-page.layout.layout-column.ng-scope
            // TARJETA PARA BUSCAR PROYECTOS
            div(layout='row', layout-md='column')
                md-card(flex='', layout-padding='')
                    md-card-content
                        h2.text-center(translate='') FONDEOS.DESCRIPTOR.TITLE
                        h3.text-center(translate='') FONDEOS.DESCRIPTOR.INSTRUCTIONS
                        md-autocomplete.margin-bottom-20(ng-disabled='vm.isDisabled', md-no-cache='vm.noCache', md-selected-item='vm.selectedItem', md-search-text-change='vm.searchTextChange(vm.searchText)', md-search-text='vm.searchText', md-selected-item-change='vm.selectedItemChange()', md-items='item in vm.querySearch(vm.searchText)', md-item-text='item.Titulo', md-min-length='0', placeholder='Busca tu Programa de Fondeo')
                            span(md-highlight-text='vm.searchText', md-highlight-flags='^i') {{item.Titulo}}
            // Tarjeta para Eliminar Descriptores de Programas de Fondeo
            div(layout='row', layout-sm='column', layout-md='column', ng-show='vm.selectedItem!=null')
                // Tarjeta para Agregar Descriptores de Programas de Fondeo
                md-card(flex='30', layout='column', ng-show='vm.selectedItem!=null')
                    md-card-content
                        h2(translate='') FONDEOS.DESCRIPTOR.ADD
                        form(name='agregarDescriptor', novalidate='')
                            md-input-container
                                label(translate='') FONDEOS.DESCRIPTOR.TYPE
                                md-select(ng-model='vm.descriptor.idDescriptor', required='', name='tipo')
                                    md-option(ng-repeat='tipo in vm.descriptores', value='{{tipo.id}}')
                                        | {{tipo.Titulo}}
                            md-input-container
                                label(translate='') FONDEOS.DESCRIPTOR.NOTES
                                input(ng-model='vm.descriptor.observaciones', required='', name='observaciones')
                            md-button.md-raised(ng-disabled='registrarDescriptor.$invalid', ng-click='addItem()', ng-class="['md-primary','md-hue-2']", aria-label='warn button')
                                span(translate='') FONDEOS.DESCRIPTOR.ADD
                            md-button.md-raised(ng-disabled='vm.descriptor==null', ng-click='vm.resetForm()', ng-class="['md-primary','md-hue-2']", aria-label='primary button')
                                span(translate='') FONDEOS.DESCRIPTOR.CLEAR
                md-card(flex='70', layout='column')
                    md-card-content
                        h2.text-center(translate='') FONDEOS.DESCRIPTOR.CURRENT
                        md-list
                            md-list-item.md-4-line(ng-repeat='descriptor in vm.descriptoresFondeo')
                                .md-list-item-text(flex='40')
                                    h3 ID: {{descriptor.pivot.id}}
                                    h5 Descriptor: {{descriptor.Titulo}}
                                    h5 Observaciones: {{descriptor.pivot.observaciones}}
                                div(flex='25')
                                    md-button.md-raised.md-primary(ng-click='vm.edit(descriptor)')
                                        span(translate='') PERSONAS.DESCRIPTOR.EDIT
                                    md-button.md-raised(ng-click='vm.createDialog($event,descriptor)', ng-class="['md-warn','md-hue-2']", aria-label='warn button')
                                        span(translate='') PROJECT.DESCRIPTOR.REMOVE_RESULT
                                md-divider
