

<div layout="column" layout-align="center center" class="full-image-background mb-bg-fb-03 overlay-40">


    <div layout="row" layout-align="center center">
        <p flex="70"  flex-sm="90" class="md-headline font-weight-300 text-center text-light" translate>FONDEOS.MODALITY.INTRO</p>
    </div>

    <div flex layout="row" layout-align="center center" layout-fill>
        <div flex="80" class="md-whiteframe-z1 margin-bottom-100" layout="column" tri-wizard>
            <md-toolbar class="md-primary">
                <div flex class="md-toolbar-tools" layout="row" layout-align="space-between center">

                    <h2 translate>FONDEOS.MODALITY.TITLE</h2><h2> {{triWizard.progress}}% <span translate>FONDEOS.WIZARD.COMPLETED</span></h2>
                </div>
                <md-progress-linear class="md-accent padding-bottom-10" md-mode="determinate" ng-value="triWizard.progress"></md-progress-linear>
            </md-toolbar>
            <md-tabs class="md-primary" layout-fill md-selected="triWizard.currentStep" md-dynamic-height md-stretch-tabs="always">
                <md-tab id="info">
                    <md-tab-label>
                        <span class="oxy-step-label">1</span>
                        <span translate>FONDEOS.CALL.GENERAL</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="projectInfo" tri-wizard-form novalidate>
                                <div layout="column" flex>
                                    <md-input-container>
                                        <label translate>FONDEOS.MODALITY.NAME_MODALITY</label>
                                        <input name="name" required type="text" ng-model="fondeo.nameModality">
                                        <div ng-messages="projectInfo.titulo.$error">
                                            <div ng-message when="required">
                                                <span translate>FONDEOS.WIZARD.REQUIRED-FIELD</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate>FONDEOS.MODALITY.AMOUNT</label>
                                        <textarea name="monto_modalidad" required ng-model="fondeo.descripcion" md-maxlength="500"></textarea>
                                        <div ng-messages="projectInfo.descripcion.$error">
                                            <div ng-message when="required">
                                                <span translate>FONDEOS.WIZARD.REQUIRED-FIELD</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label translate>FONDEOS.MODALITY.SUPPORT</label>
                                        <md-select ng-model="call" required>
                                            <!--<md-option ng-repeat="call in catalogoCalls | matcher: vm.selectedItem.call_id" value="{{call}}">
                                                {{call.nombre_call}}
                                            </md-option>-->
                                            <md-option ng-repeat="rubro in rubros" value="{{rubro.abbrev}}">
                                                {{rubro.abbrev}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="projectInfo.descripcion.$error">
                                            <div ng-message when="required">
                                                <span translate>FONDEOS.WIZARD.REQUIRED-FIELD</span>
                                            </div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="fondeoT" ng-disabled="projectInfo.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">2</span>
                        <span translate>FONDEOS.MODALITY.REQUERIMENTS</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="modality_requeriment" tri-wizard-form>
                                <div flex layout="column" layout-wrap>
                                    <md-input-container>
                                        <div text-angular required ng-model="modality_requeriment" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                        <label translate>FONDEOS.FEATURES.CLICK_TO_WRITE</label>
                                        <md-divider></md-divider>
                                    </md-input-container>
                                </div>
                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="aims" ng-disabled="projectInfo.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">3</span>
                        <span translate>FONDEOS.MODALITY.EVALUATION</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="modalityEvaluation" tri-wizard-form>
                                <md-input-container>
                                    <div text-angular required ng-model="modality.evaluation" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                    <label translate>FONDEOS.FEATURES.CLICK_TO_WRITE</label>
                                    <md-divider></md-divider>
                                </md-input-container>

                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab id="reach" ng-disabled="projectInfo.$invalid">
                    <md-tab-label>
                        <span class="oxy-step-label">4</span>
                        <span translate>FONDEOS.MODALITY.FILES</span>
                    </md-tab-label>
                    <md-tab-body>
                        <div class="wizard layout-padding">
                            <form name="modalityFiles" tri-wizard-form>
                                <md-input-container>
                                    <div text-angular required ng-model="modality.files" ta-toolbar="[['bold','italics','ul','ol']]"></div>
                                    <label translate>FONDEOS.FEATURES.CLICK_TO_WRITE</label>
                                    <md-divider></md-divider>
                                </md-input-container>

                            </form>
                        </div>
                    </md-tab-body>
                </md-tab>

            </md-tabs>



            <div class="wizard-navbar" layout-fill layout-padding layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-click="triWizard.prevStep()" ng-hide="triWizard.currentStep > 3" ng-disabled="triWizard.prevStepDisabled()" translate="FONDEOS.WIZARD.PREV"></md-button>
                <md-button class="md-primary md-raised" ng-click="triWizard.nextStep()" ng-hide="triWizard.progress == 100 && triWizard.currentStep >= 3" ng-disabled="triWizard.nextStepDisabled()" translate="FONDEOS.WIZARD.NEXT"></md-button>
                <md-button class="md-accent md-raised" ng-click="triWizard.currentStep = 3" ng-show="triWizard.progress == 100 && triWizard.currentStep >= 3 " translate="FONDEOS.WIZARD.SEND"></md-button>
            </div>
        </div>
    </div>

<!-- wizard-->

</div>
