div.full-image-background.mb-bg-fb-05.overlay-40(layout='column', layout-align='center center')



    div(layout='row', layout-align='center center')
        p.md-headline.font-weight-300.text-center.text-light(flex='70', flex-sm='90', translate='') FONDEOS.INTRO



    div.md-whiteframe-z1.margin-bottom-50(flex='', layout='row')
        div(layout='column')
            md-toolbar.md-primary
                div.md-toolbar-tools(flex layout='column')
                    h2(translate='') FONDEOS.WIZARD.TITLE
            div.wizard(flex layout='row')
                md-button.md-fab(ng-click='vm.getFondeo()', ng-class='editar', aria-label='fab button')
                    md-icon(md-font-icon='fa fa-pencil')

                md-button.md-fab.md-warn.md-raised(ng-click='vm.cancel()', ng-class='cancelar', aria-label='fab button', ng-show='vm.fondeo.id!=null')
                    md-icon(md-font-icon='fa fa-pencil')

                md-input-container
                    label(translate) FONDEOS.WIZARD.CHOOSE
                    md-select(ng-model='vm.selectedFondeo', name='select', ng-show='vm.Fondeos!= null')
                        md-option(ng-repeat='fondo in vm.Fondeos', ng-value='fondo') {{fondo.Titulo}}



    div(flex='', layout='row', layout-align='center center', layout-fill='')
        .md-whiteframe-z1.margin-bottom-100(flex='80', layout='column', tri-wizard='')
            md-toolbar.md-primary
                 div.md-toolbar-tools(flex layout='column')

                    div(flex layout='column')
                         div(flex layout='row' layout-sm='column' layout-align-sm='center center' layout-align='space-between center')
                                h2(translate='') FONDEOS.WIZARD.TITLE
                                h2 {{triWizard.progress}}%
                                    span(translate='') PROJECT.WIZARD.COMPLETED

                         div(flex layout='row' layout-sm='column' layout-align-sm='center center' layout-align='space-between center' )
                            h3(translate='') {{vm.steps[triWizard.currentStep]}}
                            h3(translate='') {{vm.FondeoLabel}}
                 md-progress-linear.md-accent.padding-bottom-10(md-mode='determinate', ng-value='vm.completed')

            md-tabs.md-primary(layout-fill='', md-selected='triWizard.currentStep', md-dynamic-height='', md-stretch-tabs='always')
                md-tab#info
                    md-tab-label
                        span.oxy-step-label 1
                        span(translate='') FONDEOS.WIZARD.FEATURES
                    md-tab-body
                        .wizard.layout-padding

                            form(name='projectInfo', tri-wizard-form='', novalidate='')
                                div(layout='column', flex='')
                                    md-input-container


                                        label(translate='') FONDEOS.FEATURES.FONDEO_TITLE
                                        input(name='titulo', required='', type='text', ng-model='vm.fondeo.Titulo')
                                        div(ng-messages='projectInfo.titulo.$error')
                                            div(ng-message='', when='required')
                                                span(translate='') FONDEOS.WIZARD.REQUIRED-FIELD
                                    md-input-container
                                        label(translate='') FONDEOS.FEATURES.FONDEO_TOTAL
                                        input(type='number' name='descripcion', required='', ng-model='vm.fondeo.FondoTotal', min='0', max='10000000000')
                                        div(ng-messages='projectInfo.descripcion.$error')
                                            div(ng-message='', when='required')
                                                span(translate='') FONDEOS.WIZARD.REQUIRED-FIELD
                                    md-input-container
                                        label(translate='') FONDEOS.FEATURES.FONDEO_TARGET
                                        textarea(name='target', required='', ng-model='vm.fondeo.PublicoObjetivo', md-maxlength='500')
                                        div(ng-messages='projectInfo.descripcion.$error')
                                            div(ng-message='', when='required')
                                                span(translate='') FONDEOS.WIZARD.REQUIRED-FIELD

                md-tab#fondeoT(ng-disabled='projectInfo.$invalid')
                    md-tab-label

                        span.oxy-step-label 2
                        span(translate='') FONDEOS.FEATURES.FONDEO_DESCRIPTION
                    md-tab-body
                        .wizard.layout-padding
                            form(name='fondeoFondeoDesc', tri-wizard-form='')
                                div(flex='', layout='column', layout-wrap='')
                                    md-input-container
                                        div(text-angular='', required='', ng-model='vm.fondeo.Descripcion', ta-toolbar="[['bold','italics','ul','ol']]")
                                        label(translate='') FONDEOS.FEATURES.CLICK_TO_WRITE
                                        md-divider
                            div(layout='column', flex='')
                                form(name='DescripcionFile', tri-wizard-form='')
                                    .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('DescripcionFile')")
                                        md-button.md-fab.md-primary
                                            ng-md-icon(icon='attach_file')
                                a(href='{{vm.fileRoute+vm.fondeo.Archivos.DescripcionFile}}')
                                    span {{vm.fondeo.Archivos.DescripcionFile | routeFilter}}
                md-tab#aims(ng-disabled='projectInfo.$invalid')
                    md-tab-label
                        span.oxy-step-label 3
                        span(translate='') FONDEOS.FEATURES.FONDEO_SUPPORT
                    md-tab-body
                        .wizard.layout-padding
                            form(name='fondeoSupport', tri-wizard-form='')
                                md-input-container
                                    div(text-angular='', required='', ng-model='vm.fondeo.RubrosDeApoyo', ta-toolbar="[['bold','italics','ul','ol']]")
                                    label(translate='') FONDEOS.FEATURES.CLICK_TO_WRITE
                                    md-divider
                            div(layout='column', flex='')
                                form(name='RubrosDeApoyoFile', tri-wizard-form='')
                                    .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('RubrosDeApoyoFile')")
                                        md-button.md-fab.md-primary
                                            ng-md-icon(icon='attach_file')
                                a(href='{{vm.fileRoute+vm.fondeo.Archivos.RubrosDeApoyoFile}}')
                                    span {{vm.fondeo.Archivos.RubrosDeApoyoFile | routeFilter}}
                md-tab#reach(ng-disabled='projectInfo.$invalid')
                    md-tab-label
                        span.oxy-step-label 4
                        span(translate='') FONDEOS.FEATURES.FONDEO_SELECTED
                    md-tab-body
                        .wizard.layout-padding
                            form(name='fondeoSelected', tri-wizard-form='')
                                md-input-container
                                    div(text-angular='', required='', ng-model='vm.fondeo.CriteriosElegibilidad', ta-toolbar="[['bold','italics','ul','ol']]")
                                    label(translate='') FONDEOS.FEATURES.CLICK_TO_WRITE
                                    md-divider
                            div(layout='column', flex='')
                                form(name='CriteriosDeElegibilidadFile', tri-wizard-form='')
                                    .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('CriteriosDeElegibilidadFile')")
                                        md-button.md-fab.md-primary
                                            ng-md-icon(icon='attach_file')
                                a(href='{{vm.fileRoute+vm.fondeo.Archivos.CriteriosDeElegibilidadFile}}')
                                    span {{vm.fondeo.Archivos.CriteriosDeElegibilidadFile | routeFilter}}
            .wizard-navbar(layout-fill='', layout-padding='', layout='row', layout-align='end center')
                md-button.md-primary.md-raised(ng-click='triWizard.prevStep()', ng-hide='triWizard.currentStep > 3', ng-disabled='triWizard.prevStepDisabled()', translate='FONDEOS.WIZARD.PREV')
                md-button.md-primary.md-raised(ng-click='triWizard.nextStep()', ng-hide='triWizard.progress == 100 && triWizard.currentStep >= 3', ng-disabled='triWizard.nextStepDisabled()', translate='FONDEOS.WIZARD.NEXT')
                md-button.md-accent.md-raised(ng-click='vm.registrarFondeo()', ng-show='triWizard.progress == 100 && triWizard.currentStep >= 3 ', translate='FONDEOS.WIZARD.SEND')
                md-button.md-warn.md-raised(ng-click='vm.eliminarFondeo()', ng-show='vm.fondeo.id!=null', translate='FONDEOS.WIZARD.DELETE')
                md-button.md-primary.md-raised(ng-click='vm.cancel()', ng-show='vm.fondeo.id!=null', translate='FONDEOS.WIZARD.STOP_EDIT')
                md-button.md-primary.md-raised(ng-click='vm.cancel()', ng-show='vm.fondeo.id==null', translate='FONDEOS.WIZARD.CLEAR_FIELDS')
    // wizard

