div.full-image-background.mb-bg-fb-05.overlay-40(layout='column', layout-align='center center')
    div(layout='row', layout-align='center center')
        p.md-headline.font-weight-300.text-center.text-light(flex='70', flex-sm='90', translate='') FONDEOS.INTRO
    div(flex='', layout='row', layout-align='center center', layout-fill='')
        .md-whiteframe-z1.margin-bottom-100(flex='80', layout='column', tri-wizard='')
            md-toolbar.md-primary
                 div.md-toolbar-tools(flex layout='column')
                    div(flex layout='column')
                         div(flex layout='row' layout-sm='column' layout-align-sm='center center' layout-align='space-between center')
                                h2(translate='') FONDEOS.WIZARD.TITLE
                                h2
                                    |{{vm.completed}}%
                                    span(translate='') FONDEOS.WIZARD.COMPLETED
                         div(flex layout='row' layout-sm='column' layout-align-sm='center center' layout-align='space-between center' )
                            h3(translate='') {{vm.steps[triWizard.currentStep]}}
                            h3(translate='') {{vm.FondeoLabel}}
                 md-progress-linear.md-accent.padding-bottom-10(md-mode='determinate', ng-value='vm.completed')

            md-tabs.md-primary(layout-fill='', md-selected='triWizard.currentStep', md-dynamic-height='', md-stretch-tabs='always')
                md-tab#info
                    md-tab-label
                        span.oxy-step-label 1
                        span(translate='') FONDEOS.WIZARD.FEATURES
                    md-tab-body
                        .wizard.layout-padding
                            form(name='projectInfo', tri-wizard-form='', novalidate='')
                                div(layout='column', flex='')
                                    md-input-container
                                        label(translate='') FONDEOS.FEATURES.FONDEO_TITLE
                                        input(name='titulo', required='', type='text', ng-model='vm.Fondeo.titulo')
                                        div(ng-messages='projectInfo.titulo.$error')
                                            div(ng-message='', when='required')
                                                span(translate='') FONDEOS.WIZARD.REQUIRED-FIELD
                                    md-input-container
                                        label(translate='') FONDEOS.FEATURES.FONDEO_TOTAL
                                        textarea(name='descripcion', required='', ng-model='vm.Fondeo.fondo_Total', md-maxlength='10')
                                        div(ng-messages='projectInfo.descripcion.$error')
                                            div(ng-message='', when='required')
                                                span(translate='') FONDEOS.WIZARD.REQUIRED-FIELD
                                    md-input-container
                                        label(translate='') FONDEOS.FEATURES.FONDEO_TARGET
                                        textarea(name='target', required='', ng-model='vm.Fondeo.target', md-maxlength='500')
                                        div(ng-messages='projectInfo.descripcion.$error')
                                            div(ng-message='', when='required')
                                                span(translate='') FONDEOS.WIZARD.REQUIRED-FIELD
                                     
                md-tab#fondeoT(ng-disabled='projectInfo.$invalid')
                    md-tab-label

                        span.oxy-step-label 2
                        span(translate='') FONDEOS.FEATURES.FONDEO_DESCRIPTION
                    md-tab-body
                        .wizard.layout-padding
                            form(name='fondeoFondeoDesc', tri-wizard-form='')
                                div(flex='', layout='column', layout-wrap='')
                                    md-input-container
                                        div(text-angular='', required='', ng-model='vm.Fondeo.fondeoDesc', ta-toolbar="[['bold','italics','ul','ol']]")
                                        label(translate='') FONDEOS.FEATURES.CLICK_TO_WRITE
                                        md-divider
                            div(layout='column', flex='')
                                form(name='DescFile', tri-wizard-form='')
                                    .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('DescFile')")
                                        md-button.md-fab.md-primary
                                            ng-md-icon(icon='attach_file')
                md-tab#aims(ng-disabled='projectInfo.$invalid')
                    md-tab-label
                        span.oxy-step-label 3
                        span(translate='') FONDEOS.FEATURES.FONDEO_SUPPORT
                    md-tab-body
                        .wizard.layout-padding
                            form(name='fondeoSupport', tri-wizard-form='')
                                md-input-container
                                    div(text-angular='', required='', ng-model='vm.fondeo.support', ta-toolbar="[['bold','italics','ul','ol']]")
                                    label(translate='') FONDEOS.FEATURES.CLICK_TO_WRITE
                                    md-divider
                            div(layout='column', flex='')
                                form(name='supportfile', tri-wizard-form='')
                                    .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('SupportFile')")
                                        md-button.md-fab.md-primary
                                            ng-md-icon(icon='attach_file')
                md-tab#reach(ng-disabled='projectInfo.$invalid')
                    md-tab-label
                        span.oxy-step-label 4
                        span(translate='') FONDEOS.FEATURES.FONDEO_SELECTED
                    md-tab-body
                        .wizard.layout-padding
                            form(name='fondeoSelected', tri-wizard-form='')
                                md-input-container
                                    div(text-angular='', required='', ng-model='vm.fondeo.selected', ta-toolbar="[['bold','italics','ul','ol']]")
                                    label(translate='') FONDEOS.FEATURES.CLICK_TO_WRITE
                                    md-divider
                            div(layout='column', flex='')
                                form(name='Requerimientos', tri-wizard-form='')
                                    .button(ng-model='vm.file', name='file', ngf-select="vm.uploadFile('Requerimientos')")
                                        md-button.md-fab.md-primary
                                            ng-md-icon(icon='attach_file')
            .wizard-navbar(layout-fill='', layout-padding='', layout='row', layout-align='end center')
                md-button.md-primary.md-raised(ng-click='triWizard.prevStep()', ng-hide='triWizard.currentStep > 3', ng-disabled='triWizard.prevStepDisabled()', translate='FONDEOS.WIZARD.PREV')
                md-button.md-primary.md-raised(ng-click='triWizard.nextStep()', ng-hide='triWizard.progress == 100 && triWizard.currentStep >= 3', ng-disabled='triWizard.nextStepDisabled()', translate='FONDEOS.WIZARD.NEXT')
                md-button.md-accent.md-raised(ng-click='triWizard.currentStep = 3', ng-show='triWizard.progress == 100 && triWizard.currentStep >= 3 ', translate='FONDEOS.WIZARD.SEND')
    // wizard
